<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MemberMapper">

    <resultMap type="Member" id="MemberResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="appId"    column="app_id"    />
        <result property="name"    column="name"    />
        <result property="avatar"    column="avatar"    />
        <result property="number"    column="number"    />
        <result property="password"    column="password"    />
        <result property="mobile"    column="mobile"    />
        <result property="sex"    column="sex"    />
        <result property="birthday"    column="birthday"    />
        <result property="balance"    column="balance"    />
        <result property="openId"    column="open_id"    />
        <result property="isMember"    column="is_member"    />
        <result property="expirationTime"    column="expiration_time"    />
        <result property="isBlacklist"    column="is_blacklist"    />
        <result property="memberId"    column="member_id"    />
        <result property="ancestors"    column="ancestors"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="loginIp"    column="login_ip"    />
        <result property="loginDate"    column="login_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="wechatConfig"    column="app_id" javaType="WechatConfig" resultMap="WechatConfigResult" />
    </resultMap>

    <resultMap type="WechatConfig" id="WechatConfigResult">
        <result property="title"    column="wxTitle"    />
    </resultMap>

    <sql id="selectMemberVo">
        select
            a.id,
            a.company_id,
            a.app_id,
            a.name,
            a.avatar,
            a.number,
            a.password,
            a.mobile,
            a.sex,
            a.birthday,
            a.balance,
            a.open_id,
            a.is_member,
            a.expiration_time,
            a.is_blacklist,
            a.member_id,
            a.ancestors,
            a.del_flag,
            a.login_ip,
            a.login_date,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            a.remark,
            wc.title as wxTitle
        from phone_member a
                 left join phone_wechat_config wc ON wc.app_id = a.app_id
    </sql>

    <select id="selectMemberList" parameterType="Member" resultMap="MemberResult">
        <include refid="selectMemberVo"/>
        <where>
            <if test="name != null  and name != ''"> and a.name like concat('%', #{name}, '%')</if>
            <if test="companyId != null "> and a.company_id = #{companyId}</if>
            <if test="appId != null and appId != ''"> and a.app_id = #{appId}</if>
            <if test="number != null "> and a.number = #{number}</if>
            <if test="mobile != null  and mobile != ''"> and a.mobile like concat('%', #{mobile}, '%')</if>
            <if test="sex != null  and sex != ''"> and a.sex = #{sex}</if>
            <if test="openId != null  and openId != ''"> and a.open_id = #{openId}</if>
            <if test="isMember != null  and isMember != ''"> and a.is_member = #{isMember}</if>
            <if test="isBlacklist != null  and isBlacklist != ''"> and a.is_blacklist = #{isBlacklist}</if>
            <if test="memberId != null "> and a.member_id = #{memberId}</if>
            <if test="ancestors != null "> and a.ancestors = #{ancestors}</if>
            <if test="loginIp != null  and loginIp != ''"> and a.login_ip = #{loginIp}</if>
            <if test="loginDate != null "> and a.login_date = #{loginDate}</if>
        </where>
        order by a.create_time DESC
    </select>

    <select id="selectMemberListByOpenId" parameterType="Member" resultMap="MemberResult">
        <include refid="selectMemberVo"/>
        <where>
            <if test="openId != null  and openId != ''"> and a.open_id = #{openId}</if>
        </where>
    </select>

    <select id="selectMemberById" parameterType="Long" resultMap="MemberResult">
        <include refid="selectMemberVo"/>
        where a.id = #{id}
    </select>

    <select id="checkMobileUnique" parameterType="String" resultMap="MemberResult">
        select id, mobile from phone_member where mobile = #{mobile} and del_flag = '0' limit 1
    </select>

    <insert id="insertMember" parameterType="Member">
        insert into phone_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="companyId != null">company_id,</if>
            <if test="appId != null and appId != ''">app_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="avatar != null">avatar,</if>
            <if test="number != null">number,</if>
            <if test="password != null">password,</if>
            <if test="mobile != null and mobile != ''">mobile,</if>
            <if test="sex != null">sex,</if>
            <if test="birthday != null">birthday,</if>
            <if test="balance != null">balance,</if>
            <if test="openId != null">open_id,</if>
            <if test="isMember != null">is_member,</if>
            <if test="expirationTime != null">expiration_time,</if>
            <if test="isBlacklist != null">is_blacklist,</if>
            <if test="memberId != null">member_id,</if>
            <if test="ancestors != null">ancestors,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="loginIp != null">login_ip,</if>
            <if test="loginDate != null">login_date,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="appId != null and appId != ''">#{appId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="number != null">#{number},</if>
            <if test="password != null">#{password},</if>
            <if test="mobile != null and mobile != ''">#{mobile},</if>
            <if test="sex != null">#{sex},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="balance != null">#{balance},</if>
            <if test="openId != null">#{openId},</if>
            <if test="isMember != null">#{isMember},</if>
            <if test="expirationTime != null">#{expirationTime},</if>
            <if test="isBlacklist != null">#{isBlacklist},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="ancestors != null">#{ancestors},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="loginIp != null">#{loginIp},</if>
            <if test="loginDate != null">#{loginDate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateMember" parameterType="Member">
        update phone_member
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="appId != null and appId != ''">app_id = #{appId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="number != null">number = #{number},</if>
            <if test="password != null">password = #{password},</if>
            <if test="mobile != null and mobile != ''">mobile = #{mobile},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="balance != null">balance = #{balance},</if>
            <if test="openId != null">open_id = #{openId},</if>
            <if test="isMember != null">is_member = #{isMember},</if>
            <if test="expirationTime != null">expiration_time = #{expirationTime},</if>
            <if test="isBlacklist != null">is_blacklist = #{isBlacklist},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="ancestors != null">ancestors = #{ancestors},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="loginIp != null">login_ip = #{loginIp},</if>
            <if test="loginDate != null">login_date = #{loginDate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="resetMemberPwd" parameterType="Member">
        update phone_member set password = #{password} where id = #{id}
    </update>

    <delete id="deleteMemberById" parameterType="Long">
        delete from phone_member where id = #{id}
    </delete>

    <delete id="deleteMemberByIds" parameterType="String">
        delete from phone_member where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>