<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MemberMapper">

    <resultMap type="Member" id="MemberResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="appId"    column="app_id"    />
        <result property="name"    column="name"    />
        <result property="avatar"    column="avatar"    />
        <result property="number"    column="number"    />
        <result property="password"    column="password"    />
        <result property="mobile"    column="mobile"    />
        <result property="sex"    column="sex"    />
        <result property="birthday"    column="birthday"    />
        <result property="balance"    column="balance"    />
        <result property="commissionBalance"    column="commission_balance"    />
        <result property="withdrawalAmount"    column="withdrawal_amount"    />
        <result property="openId"    column="open_id"    />
        <result property="isMember"    column="is_member"    />
        <result property="expirationTime"    column="expiration_time"    />
        <result property="isSuperMember"    column="is_super_member"    />
        <result property="superExpirationTime"    column="super_expiration_time"    />
        <result property="isBlacklist"    column="is_blacklist"    />
        <result property="memberId"    column="member_id"    />
        <result property="ancestors"    column="ancestors"    />
        <result property="orderNum"    column="order_num"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="loginIp"    column="login_ip"    />
        <result property="loginDate"    column="login_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="wechatConfig"    column="app_id" javaType="WechatConfig" resultMap="WechatConfigResult" />
        <association property="inviterMember"    column="member_id" javaType="Member" resultMap="InviterMemberResult" />
        <association property="secondaryMember"    column="member_id" javaType="Member" resultMap="SecondaryMemberResult" />
    </resultMap>

    <resultMap type="WechatConfig" id="WechatConfigResult">
        <result property="title"    column="wxTitle"    />
    </resultMap>

    <resultMap type="Member" id="InviterMemberResult">
        <result property="name"    column="inviterName"    />
        <result property="avatar"    column="inviterAvatar"    />
        <result property="number"    column="inviterNumber"    />
    </resultMap>

    <resultMap type="Member" id="SecondaryMemberResult">
        <result property="name"    column="secondaryName"    />
        <result property="avatar"    column="secondaryAvatar"    />
        <result property="number"    column="secondaryNumber"    />
    </resultMap>


    <sql id="selectMemberVo">
        select
            a.id,
            a.dept_id,
            a.app_id,
            a.name,
            a.avatar,
            a.number,
            a.password,
            a.mobile,
            a.sex,
            a.birthday,
            a.balance,
            a.commission_balance,
            a.withdrawal_amount,
            a.open_id,
            a.is_member,
            a.expiration_time,
            a.is_super_member,
            a.super_expiration_time,
            a.is_blacklist,
            a.member_id,
            a.ancestors,
            a.del_flag,
            a.login_ip,
            a.login_date,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            a.remark,
            wc.title as wxTitle,
            i.name as inviterName,
            i.avatar  as inviterAvatar,
            i.number as inviterNumber,
            s.name as secondaryName,
            s.avatar as secondaryAvatar,
            s.number as secondaryNumber,
            (SELECT count(o.id) FROM phone_order o where pay_status = 2 and o.member_id = a.id) as order_num
        from phone_member a
                 left join phone_wechat_config wc ON wc.app_id = a.app_id
                 left join sys_dept d on a.dept_id = d.dept_id
                left  join phone_member i ON i.id = a.member_id
                left  join phone_member s ON s.id = i.member_id
    </sql>

    <select id="selectMemberList" parameterType="Member" resultMap="MemberResult">
        <include refid="selectMemberVo"/>
        <where>
            <if test="name != null  and name != ''"> and a.name like concat('%', #{name}, '%')</if>
            <if test="deptId != null "> and a.dept_id = #{deptId}</if>
            <if test="appId != null and appId != ''"> and a.app_id = #{appId}</if>
            <if test="number != null "> and a.number like concat('%', #{number}, '%')</if>
            <if test="mobile != null  and mobile != ''"> and a.mobile like concat('%', #{mobile}, '%')</if>
            <if test="sex != null  and sex != ''"> and a.sex = #{sex}</if>
            <if test="openId != null  and openId != ''"> and a.open_id = #{openId}</if>
            <if test="isMember != null  and isMember != ''"> and a.is_member = #{isMember}</if>
            <if test="isSuperMember != null  and isSuperMember != ''"> and a.is_super_member = #{isSuperMember}</if>
            <if test="isBlacklist != null  and isBlacklist != ''"> and a.is_blacklist = #{isBlacklist}</if>
            <if test="memberId != null "> and a.member_id = #{memberId}</if>
            <if test="ancestors != null "> and a.ancestors like concat('%,',#{ancestors},',%') </if>
            <if test="loginIp != null  and loginIp != ''"> and a.login_ip = #{loginIp}</if>
            <if test="loginDate != null "> and a.login_date = #{loginDate}</if>
             <if test="inviterMember != null">
                 <if test="inviterMember.number != null and inviterMember.number != ''">
                    AND i.number like concat('%', #{inviterMember.number}, '%')
                 </if>
             </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        order by a.create_time DESC
    </select>

    <select id="selectSubordinateMemberCommissionList" parameterType="Member" resultType="LevelVo">
        select
            a.id,
            a.name,
            a.avatar,
            a.number,
            a.mobile,
            a.sex,
            a.birthday,
            IFNULL(sum(c.money),0) as commission
        from phone_member a
                 left join phone_commission_config c on a.id = c.commission_member_id
        <where>
            <if test="name != null  and name != ''"> and a.name like concat('%', #{name}, '%')</if>
            <if test="deptId != null "> and a.dept_id = #{deptId}</if>
            <if test="appId != null and appId != ''"> and a.app_id = #{appId}</if>
            <if test="number != null "> and a.number = #{number}</if>
            <if test="mobile != null  and mobile != ''"> and a.mobile like concat('%', #{mobile}, '%')</if>
            <if test="sex != null  and sex != ''"> and a.sex = #{sex}</if>
            <if test="openId != null  and openId != ''"> and a.open_id = #{openId}</if>
            <if test="isMember != null  and isMember != ''"> and a.is_member = #{isMember}</if>
            <if test="isSuperMember != null  and isSuperMember != ''"> and a.is_super_member = #{isSuperMember}</if>
            <if test="isBlacklist != null  and isBlacklist != ''"> and a.is_blacklist = #{isBlacklist}</if>
            <choose>
                <when test="memberId != null  and ancestors != null ">
                    AND a.member_id != #{memberId}
                    and a.ancestors like concat('%,',#{ancestors},',%')
                </when>
                <when test="memberId != null and ancestors == null ">
                    and a.member_id = #{memberId}
                </when>
                <when test="memberId == null and ancestors != null">
                    and a.ancestors like concat('%,',#{ancestors},',%')
                </when>
            </choose>
            <if test="loginIp != null  and loginIp != ''"> and a.login_ip = #{loginIp}</if>
            <if test="loginDate != null "> and a.login_date = #{loginDate}</if>
        </where>
        GROUP BY a.id
        order by a.create_time DESC
    </select>

    <select id="selectSubordinateMemberOrderList" parameterType="Member" resultType="LevelVo">
        select
        a.id,
        a.name,
        a.avatar,
        a.number,
        a.mobile,
        a.sex,
        a.birthday,
        count(o.id) as orderNum
        from phone_member a
        left join phone_order o on a.id = o.member_id AND o.arrival_status = 2
        <where>
            <if test="name != null  and name != ''"> and a.name like concat('%', #{name}, '%')</if>
            <if test="deptId != null "> and a.dept_id = #{deptId}</if>
            <if test="appId != null and appId != ''"> and a.app_id = #{appId}</if>
            <if test="number != null "> and a.number = #{number}</if>
            <if test="mobile != null  and mobile != ''"> and a.mobile like concat('%', #{mobile}, '%')</if>
            <if test="sex != null  and sex != ''"> and a.sex = #{sex}</if>
            <if test="openId != null  and openId != ''"> and a.open_id = #{openId}</if>
            <if test="isMember != null  and isMember != ''"> and a.is_member = #{isMember}</if>
            <if test="isSuperMember != null  and isSuperMember != ''"> and a.is_super_member = #{isSuperMember}</if>
            <if test="isBlacklist != null  and isBlacklist != ''"> and a.is_blacklist = #{isBlacklist}</if>
            <choose>
                <when test="memberId != null  and ancestors != null ">
                    AND a.member_id != #{memberId}
                    and a.ancestors like concat('%,',#{ancestors},',%')
                </when>
                <when test="memberId != null and ancestors == null ">
                    and a.member_id = #{memberId}
                </when>
                <when test="memberId == null and ancestors != null">
                    and a.ancestors like concat('%,',#{ancestors},',%')
                </when>
            </choose>
            <if test="loginIp != null  and loginIp != ''"> and a.login_ip = #{loginIp}</if>
            <if test="loginDate != null "> and a.login_date = #{loginDate}</if>
        </where>
        GROUP BY a.id
        order by a.create_time DESC
    </select>

    <select id="selectMemberListByOpenId" parameterType="Member" resultMap="MemberResult">
        <include refid="selectMemberVo"/>
        <where>
            <if test="openId != null  and openId != ''"> and a.open_id = #{openId}</if>
        </where>
    </select>

    <select id="selectMemberById" parameterType="Long" resultMap="MemberResult">
        <include refid="selectMemberVo"/>
        where a.id = #{id}
    </select>

    <select id="checkMobileUnique" parameterType="String" resultMap="MemberResult">
        select id, mobile from phone_member where mobile = #{mobile} and del_flag = '0' limit 1
    </select>

    <insert id="insertMember" parameterType="Member">
        insert into phone_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="appId != null and appId != ''">app_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="avatar != null">avatar,</if>
            <if test="number != null">number,</if>
            <if test="password != null">password,</if>
            <if test="mobile != null and mobile != ''">mobile,</if>
            <if test="sex != null">sex,</if>
            <if test="birthday != null">birthday,</if>
            <if test="balance != null">balance,</if>
            <if test="commissionBalance != null">commission_balance,</if>
            <if test="withdrawalAmount != null">withdrawal_amount,</if>
            <if test="openId != null">open_id,</if>
            <if test="isMember != null">is_member,</if>
            <if test="expirationTime != null">expiration_time,</if>
            <if test="isSuperMember != null">is_super_member,</if>
            <if test="superExpirationTime != null">super_expiration_time,</if>
            <if test="isBlacklist != null">is_blacklist,</if>
            <if test="memberId != null">member_id,</if>
            <if test="ancestors != null">ancestors,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="loginIp != null">login_ip,</if>
            <if test="loginDate != null">login_date,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="appId != null and appId != ''">#{appId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="number != null">#{number},</if>
            <if test="password != null">#{password},</if>
            <if test="mobile != null and mobile != ''">#{mobile},</if>
            <if test="sex != null">#{sex},</if>
            <if test="birthday != null">#{birthday},</if>
            <if test="balance != null">#{balance},</if>
            <if test="commissionBalance != null">#{commission_balance},</if>
            <if test="withdrawalAmount != null">#{withdrawal_amount},</if>
            <if test="openId != null">#{openId},</if>
            <if test="isMember != null">#{isMember},</if>
            <if test="expirationTime != null">#{expirationTime},</if>
            <if test="isSuperMember != null">#{isSuperMember},</if>
            <if test="superExpirationTime != null">#{superExpirationTime},</if>
            <if test="isBlacklist != null">#{isBlacklist},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="ancestors != null">#{ancestors},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="loginIp != null">#{loginIp},</if>
            <if test="loginDate != null">#{loginDate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateMember" parameterType="Member">
        update phone_member
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="appId != null and appId != ''">app_id = #{appId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="number != null">number = #{number},</if>
            <if test="password != null">password = #{password},</if>
            <if test="mobile != null and mobile != ''">mobile = #{mobile},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="balance != null">balance = #{balance},</if>
            <if test="commissionBalance != null">commission_balance = #{commissionBalance},</if>
            <if test="withdrawalAmount != null">withdrawal_amount = #{withdrawalAmount},</if>
            <if test="openId != null">open_id = #{openId},</if>
            <if test="isMember != null">is_member = #{isMember},</if>
            <if test="expirationTime != null">expiration_time = #{expirationTime},</if>
            <if test="isSuperMember != null">is_super_member = #{isSuperMember},</if>
            <if test="superExpirationTime != null">super_expiration_time = #{superExpirationTime},</if>
            <if test="isBlacklist != null">is_blacklist = #{isBlacklist},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="ancestors != null">ancestors = #{ancestors},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="loginIp != null">login_ip = #{loginIp},</if>
            <if test="loginDate != null">login_date = #{loginDate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateMemberExpiration">
        update phone_member set is_member = 0 where is_member = 1 AND expiration_time &lt; now();
    </update>

    <update id="updateSuperMemberExpiration">
        update phone_member set is_super_member = 0 where is_super_member = 1 AND super_expiration_time &lt; now();
    </update>

    <update id="resetMemberPwd" parameterType="Member">
        update phone_member set password = #{password} where id = #{id}
    </update>

    <delete id="deleteMemberById" parameterType="Long">
        delete from phone_member where id = #{id}
    </delete>

    <delete id="deleteMemberByIds" parameterType="String">
        delete from phone_member where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getDayCount" parameterType="member" resultType="int">
        SELECT COUNT(a.id) FROM phone_member a
        left join sys_dept d on a.dept_id = d.dept_id
        <where>
            <if test="appId != null and appId != ''">
                AND a.app_id = #{appId}
            </if>
            <if test="params.type != null and params.type != ''">
                <choose>
                    <when test="params.type == '1'.toString">
                        AND TO_DAYS(NOW()) - TO_DAYS(a.create_time) = 0
                    </when>
                    <when test="params.type == '2'.toString">
                        AND TO_DAYS(NOW()) - TO_DAYS(a.create_time) = 1
                    </when>
                    <when test="params.type == '3'.toString">
                        AND DATE_FORMAT(a.create_time, '%Y%m') = DATE_FORMAT(CURDATE(), '%Y%m')
                    </when>
                </choose>
            </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
    </select>

    <select id="getDayChartCount" parameterType="member" resultType="java.util.Map">
        SELECT DATE_FORMAT(a.create_time,'%Y-%m-%d') days,count(a.id) number
        FROM phone_member a
        left join sys_dept d on a.dept_id = d.dept_id
        <where>
            DATE_FORMAT(a.create_time, '%Y-%m') = DATE_FORMAT(CURRENT_DATE, '%Y-%m')
            <if test="appId != null and appId != ''">
                AND a.app_id = #{appId}
            </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        group by days
    </select>

    <select id="getMonthChartCount" parameterType="member" resultType="java.util.Map">
        SELECT DATE_FORMAT(a.create_time,'%Y-%m') months,count(a.id) number
        FROM phone_member a
        left join sys_dept d on a.dept_id = d.dept_id
        <where>
            YEAR(a.create_time) = YEAR(NOW())
            <if test="appId != null and appId != ''">
                AND a.app_id = #{appId}
            </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        group by months
    </select>

    <select id="getMemberCount" resultType="java.util.Map">
        SELECT
                wc.app_id as appId,
               count(m.id) as memberCount
        FROM phone_wechat_config wc
                 LEFT JOIN phone_member m ON wc.app_id = m.app_id
                left join sys_dept d on wc.dept_id = d.dept_id
        <where>
            wc.id != 1
            <if test="appId != null and appId != ''">
                AND wc.app_id = #{appId}
            </if>
            <if test="title != null and title != ''">
                AND wc.title like concat('%',#{title},'%')
            </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        GROUP BY wc.app_id
    </select>

    <select id="getMemberDateCount" resultType="java.util.Map">
        SELECT
                wc.app_id as appId,
               count(m.id) as memberDateCount
        FROM phone_wechat_config wc
                 LEFT JOIN phone_member m ON wc.app_id = m.app_id
        left join sys_dept d on wc.dept_id = d.dept_id
        <where>
            wc.id != 1
            <if test="appId != null and appId != ''">
                AND wc.app_id = #{appId}
            </if>
            <if test="title != null and title != ''">
                AND wc.title like concat('%',#{title},'%')
            </if>
            <if test="beginDate != null and endDate != null">
                AND m.create_time &gt;= #{beginDate}
                AND m.create_time &lt;= #{endDate}
            </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        GROUP BY wc.app_id
    </select>
</mapper>