<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.CompanyGoodsMapper">

    <resultMap type="CompanyGoods" id="CompanyGoodsResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="describe"    column="describe_"    />
        <result property="classId"    column="class_id"    />
        <result property="goodsLabel"    column="goods_label"    />
        <result property="pictures"    column="pictures"    />
        <result property="attributeList"    column="attribute_list"    />
        <result property="deliveryType"    column="delivery_type"    />
        <result property="isLimit"    column="is_limit"    />
        <result property="limitType"    column="limit_type"    />
        <result property="limitNum"    column="limit_num"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCompanyGoodsVo">
        select
            a.id,
            a.name,
            a.describe_,
            a.class_id,
            a.goods_label,
            a.pictures,
            a.attribute_list,
            a.delivery_type,
            a.is_limit,
            a.limit_type,
            a.limit_num,
            a.status,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time
        from shop_company_goods a
    </sql>

    <select id="selectCompanyGoodsList" parameterType="CompanyGoods" resultMap="CompanyGoodsResult">
        <include refid="selectCompanyGoodsVo"/>
        <where>
            <if test="name != null  and name != ''"> and a.name like concat('%', #{name}, '%')</if>
            <if test="describe != null  and describe != ''"> and a.describe_ = #{describe}</if>
            <if test="classId != null "> and a.class_id = #{classId}</if>
            <if test="goodsLabel != null  and goodsLabel != ''"> and a.goods_label = #{goodsLabel}</if>
            <if test="pictures != null  and pictures != ''"> and a.pictures = #{pictures}</if>
            <if test="attributeList != null  and attributeList != ''"> and a.attribute_list = #{attributeList}</if>
            <if test="deliveryType != null  and deliveryType != ''"> and a.delivery_type = #{deliveryType}</if>
            <if test="isLimit != null  and isLimit != ''"> and a.is_limit = #{isLimit}</if>
            <if test="limitType != null  and limitType != ''"> and a.limit_type = #{limitType}</if>
            <if test="limitNum != null "> and a.limit_num = #{limitNum}</if>
            <if test="status != null "> and a.status = #{status}</if>
        </where>
        order by a.create_time DESC
    </select>

    <select id="selectCompanyGoodsById" parameterType="Long" resultMap="CompanyGoodsResult">
        <include refid="selectCompanyGoodsVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertCompanyGoods" parameterType="CompanyGoods" useGeneratedKeys="true" keyProperty="id">
        insert into shop_company_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="describe != null">describe_,</if>
            <if test="classId != null">class_id,</if>
            <if test="goodsLabel != null">goods_label,</if>
            <if test="pictures != null">pictures,</if>
            <if test="attributeList != null">attribute_list,</if>
            <if test="deliveryType != null">delivery_type,</if>
            <if test="isLimit != null">is_limit,</if>
            <if test="limitType != null">limit_type,</if>
            <if test="limitNum != null">limit_num,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="describe != null">#{describe},</if>
            <if test="classId != null">#{classId},</if>
            <if test="goodsLabel != null">#{goodsLabel},</if>
            <if test="pictures != null">#{pictures},</if>
            <if test="attributeList != null">#{attributeList},</if>
            <if test="deliveryType != null">#{deliveryType},</if>
            <if test="isLimit != null">#{isLimit},</if>
            <if test="limitType != null">#{limitType},</if>
            <if test="limitNum != null">#{limitNum},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateCompanyGoods" parameterType="CompanyGoods">
        update shop_company_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="describe != null">describe_ = #{describe},</if>
            <if test="classId != null">class_id = #{classId},</if>
            <if test="goodsLabel != null">goods_label = #{goodsLabel},</if>
            <if test="pictures != null">pictures = #{pictures},</if>
            <if test="attributeList != null">attribute_list = #{attributeList},</if>
            <if test="deliveryType != null">delivery_type = #{deliveryType},</if>
            <if test="isLimit != null">is_limit = #{isLimit},</if>
            <if test="limitType != null">limit_type = #{limitType},</if>
            <if test="limitNum != null">limit_num = #{limitNum},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCompanyGoodsById" parameterType="Long">
        delete from shop_company_goods where id = #{id}
    </delete>

    <delete id="deleteCompanyGoodsByIds" parameterType="String">
        delete from shop_company_goods where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>