<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.CompanyGoodsSpecsMapper">

    <resultMap type="CompanyGoodsSpecs" id="CompanyGoodsSpecsResult">
        <result property="id"    column="id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="goodsSpecs"    column="goods_specs"    />
        <result property="goodsStock"    column="goods_stock"    />
        <result property="goodsPrice"    column="goods_price"    />
        <result property="goodsDiscount"    column="goods_discount"    />
        <result property="goodsNumber"    column="goods_number"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCompanyGoodsSpecsVo">
        select
            id,
            goods_id,
            goods_specs,
            goods_stock,
            goods_price,
            goods_discount,
            goods_number,
            create_by,
            create_time,
            update_by,
            update_time
        from shop_company_goods_specs
    </sql>

    <select id="selectCompanyGoodsSpecsList" parameterType="CompanyGoodsSpecs" resultMap="CompanyGoodsSpecsResult">
        <include refid="selectCompanyGoodsSpecsVo"/>
        <where>
            <if test="goodsId != null "> and goods_id = #{goodsId}</if>
            <if test="goodsSpecs != null  and goodsSpecs != ''"> and goods_specs = #{goodsSpecs}</if>
            <if test="goodsStock != null "> and goods_stock = #{goodsStock}</if>
            <if test="goodsPrice != null "> and goods_price = #{goodsPrice}</if>
            <if test="goodsDiscount != null "> and goods_discount = #{goodsDiscount}</if>
            <if test="goodsNumber != null  and goodsNumber != ''"> and goods_number = #{goodsNumber}</if>
        </where>
    </select>

    <select id="selectCompanyGoodsSpecsById" parameterType="Long" resultMap="CompanyGoodsSpecsResult">
        <include refid="selectCompanyGoodsSpecsVo"/>
        where id = #{id}
    </select>

    <select id="selectCompanyGoodsSpecsByGoodId" parameterType="Long" resultMap="CompanyGoodsSpecsResult">
        <include refid="selectCompanyGoodsSpecsVo"/>
        where goods_id = #{goodsId}
    </select>

    <insert id="insertCompanyGoodsSpecs" parameterType="CompanyGoodsSpecs" useGeneratedKeys="true" keyProperty="id">
        insert into shop_company_goods_specs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">goods_id,</if>
            <if test="goodsSpecs != null">goods_specs,</if>
            <if test="goodsStock != null">goods_stock,</if>
            <if test="goodsPrice != null">goods_price,</if>
            <if test="goodsDiscount != null">goods_discount,</if>
            <if test="goodsNumber != null">goods_number,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsId != null">#{goodsId},</if>
            <if test="goodsSpecs != null">#{goodsSpecs},</if>
            <if test="goodsStock != null">#{goodsStock},</if>
            <if test="goodsPrice != null">#{goodsPrice},</if>
            <if test="goodsDiscount != null">#{goodsDiscount},</if>
            <if test="goodsNumber != null">#{goodsNumber},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateCompanyGoodsSpecs" parameterType="CompanyGoodsSpecs">
        update shop_company_goods_specs
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="goodsSpecs != null">goods_specs = #{goodsSpecs},</if>
            <if test="goodsStock != null">goods_stock = #{goodsStock},</if>
            <if test="goodsPrice != null">goods_price = #{goodsPrice},</if>
            <if test="goodsDiscount != null">goods_discount = #{goodsDiscount},</if>
            <if test="goodsNumber != null">goods_number = #{goodsNumber},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCompanyGoodsSpecsById" parameterType="Long">
        delete from shop_company_goods_specs where id = #{id}
    </delete>

    <delete id="deleteCompanyGoodsSpecsByGoodId" parameterType="Long">
        delete from shop_company_goods_specs where goods_id = #{goodsId}
    </delete>

    <delete id="deleteCompanyGoodsSpecsByGoodIds" parameterType="Long">
        delete from shop_company_goods_specs where goods_id in
        <foreach item="goodId" collection="array" open="(" separator="," close=")">
            #{goodId}
        </foreach>
    </delete>

    <delete id="deleteCompanyGoodsSpecsByIds" parameterType="String">
        delete from shop_company_goods_specs where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>