<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.DayActivityGoodsMapper">

    <resultMap type="DayActivityGoods" id="DayActivityGoodsResult">
        <result property="dayActivityId"     column="day_activity_id"      />
        <result property="goodsId"     column="goods_id"      />
    </resultMap>

    <select id="selectDayActivityGoodsByDayActivityId" parameterType="Long" resultType="long">
        select goods_id
        from shop_member_day_activity_goods where day_activity_id=#{dayActivityId}
    </select>

    <delete id="deleteDayActivityGoodsByDayActivityId" parameterType="Long">
        delete from shop_member_day_activity_goods where day_activity_id=#{dayActivityId}
    </delete>

    <select id="countDayActivityGoodsByGoodsId" resultType="Integer">
        select count(1) from shop_member_day_activity_goods where goods_id=#{goodsId}
    </select>

    <delete id="deleteDayActivityGoods" parameterType="Long">
        delete from shop_member_day_activity_goods where day_activity_id in
        <foreach collection="array" item="dayActivityId" open="(" separator="," close=")">
            #{dayActivityId}
        </foreach>
    </delete>

    <insert id="batchDayActivityGoods">
        insert into shop_member_day_activity_goods(day_activity_id, goods_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.dayActivityId},#{item.goodsId})
        </foreach>
    </insert>

    <delete id="deleteDayActivityGoodsInfo" parameterType="DayActivityGoods">
        delete from shop_member_day_activity_goods where day_activity_id=#{dayActivityId} and goods_id=#{goodsId}
    </delete>

</mapper>