<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.DayActivityMapper">

    <resultMap type="DayActivity" id="DayActivityResult">
        <result property="id"    column="id"    />
        <result property="activityName"    column="activity_name"    />
        <result property="shopId"    column="shop_id"    />
        <result property="activityTime"    column="activity_time"    />
        <result property="activityLabel"    column="activity_label"    />
        <result property="goodsType"    column="goods_type"    />
        <result property="activityDiscount"    column="activity_discount"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDayActivityVo">
        select
            id,
            activity_name,
            shop_id,
            activity_time,
            activity_label,
            goods_type,
            activity_discount,
            status,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        from shop_member_day_activity
    </sql>

    <select id="selectDayActivityList" parameterType="DayActivity" resultMap="DayActivityResult">
        <include refid="selectDayActivityVo"/>
        <where>
            <if test="activityName != null  and activityName != ''"> and activity_name like concat('%', #{activityName}, '%')</if>
            <if test="shopId != null "> and shop_id = #{shopId}</if>
            <if test="activityTime != null  and activityTime != ''"> and activity_time = #{activityTime}</if>
            <if test="activityLabel != null  and activityLabel != ''"> and activity_label = #{activityLabel}</if>
            <if test="goodsType != null  and goodsType != ''"> and goods_type = #{goodsType}</if>
            <if test="activityDiscount != null "> and activity_discount = #{activityDiscount}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
        order by create_time DESC
    </select>

    <select id="selectDayActivityById" parameterType="Long" resultMap="DayActivityResult">
        <include refid="selectDayActivityVo"/>
        where id = #{id}
    </select>

    <insert id="insertDayActivity" parameterType="DayActivity" useGeneratedKeys="true" keyProperty="id">
        insert into shop_member_day_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="activityName != null">activity_name,</if>
            <if test="shopId != null">shop_id,</if>
            <if test="activityTime != null">activity_time,</if>
            <if test="activityLabel != null">activity_label,</if>
            <if test="goodsType != null">goods_type,</if>
            <if test="activityDiscount != null">activity_discount,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="activityName != null">#{activityName},</if>
            <if test="shopId != null">#{shopId},</if>
            <if test="activityTime != null">#{activityTime},</if>
            <if test="activityLabel != null">#{activityLabel},</if>
            <if test="goodsType != null">#{goodsType},</if>
            <if test="activityDiscount != null">#{activityDiscount},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateDayActivity" parameterType="DayActivity">
        update shop_member_day_activity
        <trim prefix="SET" suffixOverrides=",">
            <if test="activityName != null">activity_name = #{activityName},</if>
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="activityTime != null">activity_time = #{activityTime},</if>
            <if test="activityLabel != null">activity_label = #{activityLabel},</if>
            <if test="goodsType != null">goods_type = #{goodsType},</if>
            <if test="activityDiscount != null">activity_discount = #{activityDiscount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDayActivityById" parameterType="Long">
        delete from shop_member_day_activity where id = #{id}
    </delete>

    <delete id="deleteDayActivityByIds" parameterType="String">
        delete from shop_member_day_activity where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>