<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.GoodsMapper">

    <resultMap type="Goods" id="GoodsResult">
        <result property="id"    column="id"    />
        <result property="companyGoodsId"    column="company_goods_id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="name"    column="name"    />
        <result property="describe"    column="describe_"    />
        <result property="classId"    column="class_id"    />
        <result property="goodsLabel"    column="goods_label"    />
        <result property="pictures"    column="pictures"    />
        <result property="attributeList"    column="attribute_list"    />
        <result property="deliveryType"    column="delivery_type"    />
        <result property="isLimit"    column="is_limit"    />
        <result property="limitType"    column="limit_type"    />
        <result property="limitNum"    column="limit_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <collection  property="specsList"   javaType="java.util.List"           resultMap="GoodsSpecsResult" />
    </resultMap>

    <resultMap type="GoodsSpecs" id="GoodsSpecsResult">
        <result property="id"    column="specsId"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="goodsSpecs"    column="goods_specs"    />
        <result property="goodsStock"    column="goods_stock"    />
        <result property="goodsPrice"    column="goods_price"    />
        <result property="goodsDiscount"    column="goods_discount"    />
        <result property="goodsNumber"    column="goods_number"    />
    </resultMap>

    <sql id="selectGoodsVo">
        select
            a.id,
            a.company_goods_id,
            a.shop_id,
            a.name,
            a.describe_,
            a.class_id,
            a.goods_label,
            a.pictures,
            a.attribute_list,
            a.delivery_type,
            a.is_limit,
            a.limit_type,
            a.limit_num,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            s.id AS specsId,
            s.goods_id,
            s.goods_specs,
            s.goods_stock,
            s.goods_price,
            s.goods_discount,
            s.goods_number
        from shop_goods a
        left  join shop_goods_specs s ON a.id = s.goods_id
    </sql>

    <select id="selectGoodsList" parameterType="Goods" resultMap="GoodsResult">
        <include refid="selectGoodsVo"/>
        <where>
            <if test="companyGoodsId != null "> and a.company_goods_id = #{companyGoodsId}</if>
            <if test="shopId != null "> and a.shop_id = #{shopId}</if>
            <if test="name != null  and name != ''"> and a.name like concat('%', #{name}, '%')</if>
            <if test="describe != null  and describe != ''"> and a.describe_ = #{describe}</if>
            <if test="classId != null "> and a.class_id = #{classId}</if>
            <if test="goodsLabel != null  and goodsLabel != ''"> and a.goods_label = #{goodsLabel}</if>
            <if test="pictures != null  and pictures != ''"> and a.pictures = #{pictures}</if>
            <if test="attributeList != null  and attributeList != ''"> and a.attribute_list = #{attributeList}</if>
            <if test="deliveryType != null  and deliveryType != ''"> and a.delivery_type = #{deliveryType}</if>
            <if test="isLimit != null  and isLimit != ''"> and a.is_limit = #{isLimit}</if>
            <if test="limitType != null  and limitType != ''"> and a.limit_type = #{limitType}</if>
            <if test="limitNum != null "> and a.limit_num = #{limitNum}</if>
        </where>
    </select>

    <select id="selectGoodsById" parameterType="Long" resultMap="GoodsResult">
        <include refid="selectGoodsVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertGoods" parameterType="Goods" useGeneratedKeys="true" keyProperty="id">
        insert into shop_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyGoodsId != null">company_goods_id,</if>
            <if test="shopId != null">shop_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="describe != null">describe_,</if>
            <if test="classId != null">class_id,</if>
            <if test="goodsLabel != null">goods_label,</if>
            <if test="pictures != null">pictures,</if>
            <if test="attributeList != null">attribute_list,</if>
            <if test="deliveryType != null">delivery_type,</if>
            <if test="isLimit != null">is_limit,</if>
            <if test="limitType != null">limit_type,</if>
            <if test="limitNum != null">limit_num,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyGoodsId != null">#{companyGoodsId},</if>
            <if test="shopId != null">#{shopId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="describe != null">#{describe},</if>
            <if test="classId != null">#{classId},</if>
            <if test="goodsLabel != null">#{goodsLabel},</if>
            <if test="pictures != null">#{pictures},</if>
            <if test="attributeList != null">#{attributeList},</if>
            <if test="deliveryType != null">#{deliveryType},</if>
            <if test="isLimit != null">#{isLimit},</if>
            <if test="limitType != null">#{limitType},</if>
            <if test="limitNum != null">#{limitNum},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateGoods" parameterType="Goods">
        update shop_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyGoodsId != null">company_goods_id = #{companyGoodsId},</if>
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="describe != null">describe_ = #{describe},</if>
            <if test="classId != null">class_id = #{classId},</if>
            <if test="goodsLabel != null">goods_label = #{goodsLabel},</if>
            <if test="pictures != null">pictures = #{pictures},</if>
            <if test="attributeList != null">attribute_list = #{attributeList},</if>
            <if test="deliveryType != null">delivery_type = #{deliveryType},</if>
            <if test="isLimit != null">is_limit = #{isLimit},</if>
            <if test="limitType != null">limit_type = #{limitType},</if>
            <if test="limitNum != null">limit_num = #{limitNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGoodsById" parameterType="Long">
        delete from shop_goods where id = #{id}
    </delete>

    <delete id="deleteGoodsByIds" parameterType="String">
        delete from shop_goods where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteGoodsByCompanyGoodsId" parameterType="Long">
        delete from shop_goods where company_goods_id = #{companyGoodsId}
    </delete>

    <delete id="deleteGoodsByCompanyGoodsIds" parameterType="String">
        delete from shop_goods where company_goods_id in
        <foreach item="companyGoodsId" collection="array" open="(" separator="," close=")">
            #{companyGoodsId}
        </foreach>
    </delete>
</mapper>