<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.OfflineOrderMapper">

    <resultMap type="OfflineOrder" id="OfflineOrderResult">
        <result property="id" column="id"/>
        <result property="shopId" column="shop_id"/>
        <result property="memberId" column="member_id"/>
        <result property="name" column="name"/>
        <result property="orderNumber" column="order_number"/>
        <result property="serialNumber" column="serial_number"/>
        <result property="money" column="money"/>
        <result property="orderStatus" column="order_status"/>
        <result property="payType" column="pay_type"/>
        <result property="payTime" column="pay_time"/>
        <result property="mName" column="m_name"/>
        <result property="mPhone" column="m_phone"/>
        <result property="userId" column="user_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <association property="shopInfo"    column="shop_id" javaType="ShopInfo" resultMap="ShopInfoResult" />
        <association property="member"    column="member_id" javaType="Member" resultMap="MemberResult" />
    </resultMap>

    <resultMap type="ShopInfo" id="ShopInfoResult">
        <result property="id"    column="shop_id"    />
        <result property="name"    column="shop_name"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="county"    column="county"    />
        <result property="address"    column="address"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="mobile"    column="mobile"    />
        <result property="businessHours"    column="business_hours"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="distributionMode"    column="distribution_mode"    />
        <result property="isActivity"    column="is_activity"    />
        <result property="isSyncShop"    column="is_sync_shop"    />
        <result property="isSyncNatural"    column="is_sync_natural"    />
        <result property="securityFile"    column="security_file"    />
        <result property="naturalFile"    column="natural_file"    />
        <result property="status"    column="status"    />
    </resultMap>

    <resultMap type="Member" id="MemberResult">
        <result property="id"    column="member_id"    />
        <result property="name"    column="memberName"    />
        <result property="avatar"    column="memberAvatar"    />
        <result property="number"    column="number"    />
        <result property="mobile"    column="memberMobile"    />
        <result property="sex"    column="sex"    />
        <result property="birthday"    column="birthday"    />
        <result property="balance"    column="balance"    />
        <result property="openId"    column="open_id"    />
        <result property="isMember"    column="is_member"    />
        <result property="userId"    column="memberUserId"    />
    </resultMap>

    <sql id="selectOfflineOrderVo">
        select a.id,
               a.shop_id,
               a.member_id,
               a.name,
               a.order_number,
               a.serial_number,
               a.money,
               a.order_status,
               a.pay_type,
               a.pay_time,
               a.m_name,
               a.m_phone,
               a.user_id,
               a.create_by,
               a.create_time,
               a.update_by,
               a.update_time,
               a.remark,
               s.name as shop_name,
               s.province,
               s.city,
               s.county,
               s.address,
               s.longitude,
               s.latitude,
               s.mobile,
               s.business_hours,
               s.start_time,
               s.end_time,
               s.distribution_mode,
               s.is_activity,
               s.is_sync_shop,
               s.is_sync_natural,
               s.security_file,
               s.natural_file,
               s.status,
               m.name AS memberName,
               m.avatar AS memberAvatar,
               m.number,
               m.mobile AS memberMobile,
               m.sex,
               m.birthday,
               m.balance,
               m.open_id,
               m.is_member,
               m.user_id AS memberUserId
        from shop_offline_order a
        left join shop_info s ON a.shop_id = s.id
        left join shop_member m ON m.id = a.member_id
    </sql>

    <select id="selectOfflineOrderList" parameterType="OfflineOrder" resultMap="OfflineOrderResult">
        <include refid="selectOfflineOrderVo"/>
        <where>
            <if test="shopId != null ">and a.shop_id = #{shopId}</if>
            <if test="memberId != null ">and a.member_id = #{memberId}</if>
            <if test="name != null  and name != ''">and a.name like concat('%', #{name}, '%')</if>
            <if test="orderNumber != null  and orderNumber != ''">and a.order_number = #{orderNumber}</if>
            <if test="serialNumber != null ">and a.serial_number = #{serialNumber}</if>
            <if test="money != null ">and a.money = #{money}</if>
            <if test="orderStatus != null  and orderStatus != ''">and a.order_status = #{orderStatus}</if>
            <if test="payType != null  and payType != ''">and a.pay_type = #{payType}</if>
            <if test="payTime != null  and payTime != ''">and a.pay_time = #{payTime}</if>
            <if test="mName != null ">and a.m_name like concat('%',  #{mName}, '%')</if>
            <if test="mPhone != null ">and a.m_phone like concat('%',  #{mPhone}, '%')</if>
            <if test="userId != null ">and a.user_id = #{userId}</if>
            ${params.shopScope}
        </where>
        order by a.create_time DESC
    </select>

    <select id="selectOfflineOrderById" parameterType="Long" resultMap="OfflineOrderResult">
        <include refid="selectOfflineOrderVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertOfflineOrder" parameterType="OfflineOrder" useGeneratedKeys="true" keyProperty="id">
        insert into shop_offline_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null">shop_id,</if>
            <if test="memberId != null">member_id,</if>
            <if test="name != null">name,</if>
            <if test="orderNumber != null">order_number,</if>
            <if test="serialNumber != null">serial_number,</if>
            <if test="money != null">money,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="payType != null">pay_type,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="mName != null">m_name,</if>
            <if test="mPhone != null">m_phone,</if>
            <if test="userId != null">user_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null">#{shopId},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="name != null">#{name},</if>
            <if test="orderNumber != null">#{orderNumber},</if>
            <if test="serialNumber != null">#{serialNumber},</if>
            <if test="money != null">#{money},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="payType != null">#{payType},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="mName != null">#{mName},</if>
            <if test="mPhone != null">#{mPhone},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateOfflineOrder" parameterType="OfflineOrder">
        update shop_offline_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="name != null">name = #{name},</if>
            <if test="orderNumber != null">order_number = #{orderNumber},</if>
            <if test="serialNumber != null">serial_number = #{serialNumber},</if>
            <if test="money != null">money = #{money},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="payType != null">pay_type = #{payType},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="mName != null">m_name = #{mName},</if>
            <if test="mPhone != null">m_phone = #{mPhone},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOfflineOrderById" parameterType="Long">
        delete
        from shop_offline_order
        where id = #{id}
    </delete>

    <delete id="deleteOfflineOrderByIds" parameterType="String">
        delete from shop_offline_order where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>