<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.OrderDetailsMapper">

    <resultMap type="OrderDetails" id="OrderDetailsResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="specsId"    column="specs_id"    />
        <result property="number"    column="number"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />

        <result property="name"    column="name"    />
        <result property="describe"    column="describe_"    />
        <result property="classId"    column="class_id"    />
        <result property="goodsLabel"    column="goods_label"    />
        <result property="pictures"    column="pictures"    />
        <result property="attributeList"    column="attribute_list"    />
        <result property="deliveryType"    column="delivery_type"    />
        <result property="isLimit"    column="is_limit"    />
        <result property="limitType"    column="limit_type"    />
        <result property="limitNum"    column="limit_num"    />

        <result property="goodsSpecs"    column="goods_specs"    />
        <result property="goodsStock"    column="goods_stock"    />
        <result property="goodsPrice"    column="goods_price"    />
        <result property="goodsDiscount"    column="goods_discount"    />
        <result property="goodsNumber"    column="goods_number"    />
    </resultMap>


    <sql id="selectOrderDetailsVo">
        select
            a.id,
            a.order_id,
            a.goods_id,
            a.specs_id,
            a.number,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            a.remark,
            a.name,
            a.describe_,
            a.class_id,
            a.goods_label,
            a.pictures,
            a.attribute_list,
            a.delivery_type,
            a.is_limit,
            a.limit_type,
            a.limit_num,
            a.goods_specs,
            a.goods_stock,
            a.goods_price,
            a.goods_discount,
            a.goods_number
        from shop_order_details a
    </sql>

    <select id="selectOrderDetailsList" parameterType="OrderDetails" resultMap="OrderDetailsResult">
        <include refid="selectOrderDetailsVo"/>
        <where>
            <if test="orderId != null "> and a.order_id = #{orderId}</if>
            <if test="goodsId != null "> and a.goods_id = #{goodsId}</if>
            <if test="specsId != null "> and a.specs_id = #{specsId}</if>
            <if test="number != null "> and a.number = #{number}</if>
        </where>
    </select>

    <select id="selectCountByGoodsId" resultType="integer">
        SELECT count(goods_id) AS number
        FROM shop_order_details
        <where>
            order_status ='2'
            <if test="goodsId != null " >
                AND goods_id = #{goodsId}
            </if>
        </where>
    </select>

    <select id="selectRemainCountByGoodsId" resultType="integer">
        SELECT count(goods_id) AS number
        FROM shop_order_details a
        <where>
            order_status ='2'
            <if test="goodsId != null " >
                AND goods_id = #{goodsId}
            </if>
            <if test="limitType != null">
                <choose>
                    <when test="limitType == '1'.toString()">
                       AND to_days(create_time) = to_days(now())
                    </when>
                    <when test="limitType == '2'.toString()">
                        AND YEARWEEK(date_format(create_time,'%Y-%m-%d')) = YEARWEEK(now())
                    </when>
                    <otherwise>
                        AND DATE_FORMAT(create_time,'%Y%m') = DATE_FORMAT(CURDATE(),'%Y%m')
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>

    <select id="selectCountByActivityId" resultType="integer">
        SELECT count(a.specs_id)
        FROM shop_order_details a
        left JOIN shop_order o ON a.order_id = o.id
        <where>
            order_status ='2'
            <if test="activityId != null">
                AND o.activity_id = #{activityId}
            </if>
            <if test="specsId != null " >
                AND a.specs_id = #{specsId}
            </if>
        </where>
    </select>

    <select id="selectOrderDetailsById" parameterType="Long" resultMap="OrderDetailsResult">
        <include refid="selectOrderDetailsVo"/>
        where a.id = #{id}
    </select>

    <select id="selectOrderDetailsByOrderId" parameterType="Long" resultMap="OrderDetailsResult">
        <include refid="selectOrderDetailsVo"/>
        where order_id = #{orderId}
    </select>

    <insert id="insertOrderDetails" parameterType="OrderDetails" useGeneratedKeys="true" keyProperty="id">
        insert into shop_order_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">order_id,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="describe != null">describe_,</if>
            <if test="classId != null">class_id,</if>
            <if test="goodsLabel != null">goods_label,</if>
            <if test="pictures != null">pictures,</if>
            <if test="attributeList != null">attribute_list,</if>
            <if test="deliveryType != null">delivery_type,</if>
            <if test="isLimit != null">is_limit,</if>
            <if test="limitType != null">limit_type,</if>
            <if test="limitNum != null">limit_num,</if>

            <if test="specsId != null">specs_id,</if>
            <if test="goodsSpecs != null">goods_specs,</if>
            <if test="goodsStock != null">goods_stock,</if>
            <if test="goodsPrice != null">goods_price,</if>
            <if test="goodsDiscount != null">goods_discount,</if>
            <if test="goodsNumber != null">goods_number,</if>

            <if test="number != null">number,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">#{orderId},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="describe != null">#{describe},</if>
            <if test="classId != null">#{classId},</if>
            <if test="goodsLabel != null">#{goodsLabel},</if>
            <if test="pictures != null">#{pictures},</if>
            <if test="attributeList != null">#{attributeList},</if>
            <if test="deliveryType != null">#{deliveryType},</if>
            <if test="isLimit != null">#{isLimit},</if>
            <if test="limitType != null">#{limitType},</if>
            <if test="limitNum != null">#{limitNum},</if>

            <if test="specsId != null">#{specsId},</if>
            <if test="goodsSpecs != null">#{goodsSpecs},</if>
            <if test="goodsStock != null">#{goodsStock},</if>
            <if test="goodsPrice != null">#{goodsPrice},</if>
            <if test="goodsDiscount != null">#{goodsDiscount},</if>
            <if test="goodsNumber != null">#{goodsNumber},</if>

            <if test="number != null">#{number},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateOrderDetails" parameterType="OrderDetails">
        update shop_order_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="describe != null">describe_ = #{describe},</if>
            <if test="classId != null">class_id = #{classId},</if>
            <if test="goodsLabel != null">goods_label = #{goodsLabel},</if>
            <if test="pictures != null">pictures = #{pictures},</if>
            <if test="attributeList != null">attribute_list = #{attributeList},</if>
            <if test="deliveryType != null">delivery_type = #{deliveryType},</if>
            <if test="isLimit != null">is_limit = #{isLimit},</if>
            <if test="limitType != null">limit_type = #{limitType},</if>
            <if test="limitNum != null">limit_num = #{limitNum},</if>

            <if test="specsId != null">specs_id = #{specsId},</if>
            <if test="goodsSpecs != null">goods_specs = #{goodsSpecs},</if>
            <if test="goodsStock != null">goods_stock = #{goodsStock},</if>
            <if test="goodsPrice != null">goods_price = #{goodsPrice},</if>
            <if test="goodsDiscount != null">goods_discount = #{goodsDiscount},</if>
            <if test="goodsNumber != null">goods_number = #{goodsNumber},</if>

            <if test="number != null">number = #{number},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrderDetailsById" parameterType="Long">
        delete from shop_order_details where id = #{id}
    </delete>

    <delete id="deleteOrderDetailsByIds" parameterType="String">
        delete from shop_order_details where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteOrderDetailsByOrderId" parameterType="Long">
        delete from shop_order_details where order_id = #{orderId}
    </delete>

    <delete id="deleteOrderDetailsByOrderIds" parameterType="String">
        delete from shop_order_details where order_id in
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>
</mapper>