<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.OrderMapper">

    <resultMap type="Order" id="OrderResult">
        <result property="id"    column="id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="memberId"    column="member_id"    />
        <result property="orderType"    column="order_type"    />
        <result property="activityId"    column="activity_id"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="favourableMoney"    column="favourable_money"    />
        <result property="money"    column="money"    />
        <result property="couponList"    column="coupon_list"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="payType"    column="pay_type"    />
        <result property="payTime"    column="pay_time"    />
        <result property="payResult"    column="pay_result"    />
        <result property="haveType"    column="have_type"    />
        <result property="haveTime"    column="have_time"    />
        <result property="mName"    column="m_name"    />
        <result property="mPhone"    column="m_phone"    />
        <result property="userId"    column="user_id"    />
        <result property="cancelStatus"    column="cancel_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="shopInfo"    column="shop_id" javaType="ShopInfo" resultMap="ShopInfoResult" />
        <association property="member"    column="member_id" javaType="Member" resultMap="MemberResult" />
        <association property="sysUser"    column="user_id" javaType="SysUser" resultMap="SysUserResult" />
    </resultMap>

    <resultMap type="ShopInfo" id="ShopInfoResult">
        <result property="id"    column="shop_id"    />
        <result property="name"    column="name"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="county"    column="county"    />
        <result property="address"    column="address"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="mobile"    column="mobile"    />
        <result property="businessHours"    column="business_hours"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="distributionMode"    column="distribution_mode"    />
        <result property="isActivity"    column="is_activity"    />
        <result property="isSyncShop"    column="is_sync_shop"    />
        <result property="isSyncNatural"    column="is_sync_natural"    />
        <result property="securityFile"    column="security_file"    />
        <result property="naturalFile"    column="natural_file"    />
        <result property="status"    column="status"    />
    </resultMap>

    <resultMap type="Member" id="MemberResult">
        <result property="id"    column="member_id"    />
        <result property="name"    column="memberName"    />
        <result property="avatar"    column="memberAvatar"    />
        <result property="number"    column="number"    />
        <result property="mobile"    column="memberMobile"    />
        <result property="sex"    column="sex"    />
        <result property="birthday"    column="birthday"    />
        <result property="balance"    column="balance"    />
        <result property="openId"    column="open_id"    />
        <result property="isMember"    column="is_member"    />
        <result property="userId"    column="memberUserId"    />
    </resultMap>

    <resultMap type="SysUser" id="SysUserResult">
        <id     property="userId"       column="user_id"      />
        <result property="userName"     column="user_name"    />
        <result property="nickName"     column="nick_name"    />
        <result property="phonenumber"  column="phonenumber"  />
    </resultMap>

    <sql id="selectOrderVo">
        select
            a.id,
            a.shop_id,
            a.member_id,
            a.order_type,
            a.activity_id,
            a.order_number,
            a.favourable_money,
            a.money,
            a.coupon_list,
            a.order_status,
            a.pay_type,
            a.pay_time,
            a.pay_result,
            a.have_type,
            a.have_time,
               a.m_name,
               a.m_phone,
            a.user_id,
            a.cancel_status,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            a.remark,
            s.name,
            s.province,
            s.city,
            s.county,
            s.address,
            s.longitude,
            s.latitude,
            s.mobile,
            s.business_hours,
            s.start_time,
            s.end_time,
            s.distribution_mode,
            s.is_activity,
            s.is_sync_shop,
            s.is_sync_natural,
            s.security_file,
            s.natural_file,
            s.status,
            m.name AS memberName,
            m.avatar AS memberAvatar,
            m.number,
            m.mobile AS memberMobile,
            m.sex,
            m.birthday,
            m.balance,
            m.open_id,
            m.is_member,
            m.user_id AS memberUserId,
            u.user_name,
            u.nick_name,
            u.email,
            u.avatar,
            u.phonenumber
        from shop_order a
        left join shop_info s ON a.shop_id = s.id
        left join shop_member m ON m.id = a.member_id
        left join sys_user u ON u.user_id = a.user_id
    </sql>

    <select id="selectOrderList" parameterType="Order" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        <where>
            <if test="shopId != null "> and a.shop_id = #{shopId}</if>
            <if test="memberId != null "> and a.member_id = #{memberId}</if>
            <if test="orderType != null "> and a.order_type = #{orderType}</if>
            <if test="activityId != null "> and a.activity_id = #{activityId}</if>
            <if test="orderNumber != null  and orderNumber != ''"> and a.order_number = #{orderNumber}</if>
            <if test="favourableMoney != null "> and a.favourable_money = #{favourableMoney}</if>
            <if test="money != null "> and a.money = #{money}</if>
            <if test="couponList != null  and couponList != ''"> and a.coupon_list = #{couponList}</if>
            <if test="orderStatus != null  and orderStatus != ''"> and a.order_status = #{orderStatus}</if>
            <if test="payType != null  and payType != ''"> and a.pay_type = #{payType}</if>
            <if test="haveType != null  and haveType != ''"> and a.have_type = #{haveType}</if>
            <if test="haveTime != null "> and a.have_time = #{haveTime}</if>
            <if test="userId != null "> and a.user_id = #{userId}</if>
            <if test="mName != null ">and a.m_name like concat('%',  #{mName}, '%')</if>
            <if test="mPhone != null ">and a.m_phone like concat('%',  #{mPhone}, '%')</if>
            <if test="sysUser != null ">
                <if test="sysUser.nickName != null and sysUser.nickName != ''">
                    and u.nick_name = like concat('%', #{sysUser.nickName}, '%')
                </if>
            </if>
            <if test="cancelStatus != null  and cancelStatus != ''"> and a.cancel_status = #{cancelStatus}</if>
            ${params.shopScope}
        </where>
        order by a.create_time DESC
    </select>


    <select id="getCancelSum" parameterType="Order" resultType="java.math.BigDecimal">
        select ifNull(sum(a.money),0)
        from shop_order a
        <where>
            <if test="shopId != null "> and a.shop_id = #{shopId}</if>
            <if test="payType != null  and payType != ''"> and a.pay_type = #{payType}</if>
            <if test="orderType != null "> and a.order_type = #{orderType}</if>
            <if test="cancelStatus != null  and cancelStatus != ''"> and a.cancel_status = #{cancelStatus}</if>
            ${params.shopScope}
        </where>
    </select>

    <select id="selectOrderById" parameterType="Long" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where a.id = #{id}
    </select>

    <select id="selectOrderByOrderNumber" parameterType="string" resultMap="OrderResult">
        <include refid="selectOrderVo"/>
        where a.order_number = #{orderNumber}
    </select>

    <insert id="insertOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
        insert into shop_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null">shop_id,</if>
            <if test="memberId != null">member_id,</if>
            <if test="orderType != null">order_type,</if>
            <if test="activityId != null">activity_id,</if>
            <if test="orderNumber != null">order_number,</if>
            <if test="favourableMoney != null">favourable_money,</if>
            <if test="money != null">money,</if>
            <if test="couponList != null">coupon_list,</if>
            <if test="orderStatus != null">order_status,</if>
            <if test="payType != null">pay_type,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="payResult != null">pay_result,</if>
            <if test="haveType != null">have_type,</if>
            <if test="haveTime != null">have_time,</if>
            <if test="mName != null">m_name,</if>
            <if test="mPhone != null">m_phone,</if>
            <if test="userId != null">user_id,</if>
            <if test="cancelStatus != null">cancel_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null">#{shopId},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="orderType != null">#{orderType},</if>
            <if test="activityId != null">#{activityId},</if>
            <if test="orderNumber != null">#{orderNumber},</if>
            <if test="favourableMoney != null">#{favourableMoney},</if>
            <if test="money != null">#{money},</if>
            <if test="couponList != null">#{couponList},</if>
            <if test="orderStatus != null">#{orderStatus},</if>
            <if test="payType != null">#{payType},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="payResult != null">#{payResult},</if>
            <if test="haveType != null">#{haveType},</if>
            <if test="haveTime != null">#{haveTime},</if>
            <if test="mName != null">#{mName},</if>
            <if test="mPhone != null">#{mPhone},</if>
            <if test="userId != null">#{userId},</if>
            <if test="cancelStatus != null">#{cancelStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateOrder" parameterType="Order">
        update shop_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="orderType != null">order_type = #{orderType},</if>
            <if test="activityId != null">activity_id = #{activityId},</if>
            <if test="orderNumber != null">order_number = #{orderNumber},</if>
            <if test="favourableMoney != null">favourable_money = #{favourableMoney},</if>
            <if test="money != null">money = #{money},</if>
            <if test="couponList != null">coupon_list = #{couponList},</if>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="payType != null">pay_type = #{payType},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="payResult != null">pay_result = #{payResult},</if>
            <if test="haveType != null">have_type = #{haveType},</if>
            <if test="haveTime != null">have_time = #{haveTime},</if>
            <if test="mName != null">m_name = #{mName},</if>
            <if test="mPhone != null">m_phone = #{mPhone},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="cancelStatus != null">cancel_status = #{cancelStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateTimeOrderStatus">
        UPDATE shop_order set order_status = 4
        where order_status = 1 AND pay_type = 2 AND create_time &lt; DATE_SUB(NOW(), INTERVAL 10 MINUTE);
    </update>

    <delete id="deleteOrderById" parameterType="Long">
        delete from shop_order where id = #{id}
    </delete>

    <delete id="deleteOrderByIds" parameterType="String">
        delete from shop_order where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>