<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.ShopInfoActivityMapper">

    <resultMap type="ShopInfoActivity" id="ShopInfoActivityResult">
        <result property="id"    column="id"    />
        <result property="shopId"    column="shop_id"    />
        <result property="activityType"    column="activity_type"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectShopInfoActivityVo">
        select
            id,
            shop_id,
            activity_type,
            title,
            content,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        from shop_info_activity
    </sql>

    <select id="selectShopInfoActivityList" parameterType="ShopInfoActivity" resultMap="ShopInfoActivityResult">
        <include refid="selectShopInfoActivityVo"/>
        <where>
            <if test="shopId != null "> and shop_id = #{shopId}</if>
            <if test="activityType != null  and activityType != ''"> and activity_type = #{activityType}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>

    <select id="selectShopInfoActivityById" parameterType="Long" resultMap="ShopInfoActivityResult">
        <include refid="selectShopInfoActivityVo"/>
        where id = #{id}
    </select>

    <insert id="insertShopInfoActivity" parameterType="ShopInfoActivity" useGeneratedKeys="true" keyProperty="id">
        insert into shop_info_activity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopId != null">shop_id,</if>
            <if test="activityType != null">activity_type,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopId != null">#{shopId},</if>
            <if test="activityType != null">#{activityType},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateShopInfoActivity" parameterType="ShopInfoActivity">
        update shop_info_activity
        <trim prefix="SET" suffixOverrides=",">
            <if test="shopId != null">shop_id = #{shopId},</if>
            <if test="activityType != null">activity_type = #{activityType},</if>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteShopInfoActivityById" parameterType="Long">
        delete from shop_info_activity where id = #{id}
    </delete>

    <delete id="deleteShopInfoActivityByIds" parameterType="String">
        delete from shop_info_activity where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>