<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.shop.mapper.ShopIpJsonMapper">

    <resultMap type="ShopIpJson" id="ShopIpJsonResult">
        <result property="ip"    column="ip"    />
        <result property="json"    column="json"    />
    </resultMap>

    <sql id="selectShopIpJsonVo">
        select
            ip,
            json
        from shop_ip_json
    </sql>

    <select id="selectShopIpJsonList" parameterType="ShopIpJson" resultMap="ShopIpJsonResult">
        <include refid="selectShopIpJsonVo"/>
        <where>
            <if test="json != null  and json != ''"> and json = #{json}</if>
        </where>
    </select>

    <select id="selectShopIpJsonByIp" parameterType="String" resultMap="ShopIpJsonResult">
        <include refid="selectShopIpJsonVo"/>
        where ip = #{ip}
    </select>

    <insert id="insertShopIpJson" parameterType="ShopIpJson">
        insert into shop_ip_json
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ip != null">ip,</if>
            <if test="json != null">json,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ip != null">#{ip},</if>
            <if test="json != null">#{json},</if>
        </trim>
    </insert>

    <update id="updateShopIpJson" parameterType="ShopIpJson">
        update shop_ip_json
        <trim prefix="SET" suffixOverrides=",">
            <if test="json != null">json = #{json},</if>
        </trim>
        where ip = #{ip}
    </update>

    <delete id="deleteShopIpJsonByIp" parameterType="String">
        delete from shop_ip_json where ip = #{ip}
    </delete>

    <delete id="deleteShopIpJsonByIps" parameterType="String">
        delete from shop_ip_json where ip in
        <foreach item="ip" collection="array" open="(" separator="," close=")">
            #{ip}
        </foreach>
    </delete>
</mapper>