<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.phone.mapper.PhoneCouponMapper">

    <resultMap type="PhoneCoupon" id="PhoneCouponResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="appId"    column="app_id"    />
        <result property="title"    column="title"    />
        <result property="termValidity"    column="term_validity"    />
        <result property="rechargeAmount"    column="recharge_amount"    />
        <result property="fullMoney"    column="full_money"    />
        <result property="minusMoney"    column="minus_money"    />
        <result property="distributionMode"    column="distribution_mode"    />
        <result property="number"    column="number"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="wechatConfig"    column="app_id" javaType="WechatConfig" resultMap="WechatConfigResult" />
    </resultMap>

    <resultMap type="WechatConfig" id="WechatConfigResult">
        <result property="title"    column="wxTitle"    />
    </resultMap>

    <sql id="selectPhoneCouponVo">
        select
            a.id,
            a.company_id,
            a.app_id,
            a.title,
            a.term_validity,
            a.recharge_amount,
            a.full_money,
            a.minus_money,
            a.distribution_mode,
            a.number,
            a.status,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            a.remark,
            wc.title as wxTitle
        from phone_coupon a
                 left join phone_wechat_config wc ON wc.app_id = a.app_id
    </sql>

    <select id="selectPhoneCouponList" parameterType="PhoneCoupon" resultMap="PhoneCouponResult">
        <include refid="selectPhoneCouponVo"/>
        <where>
            <if test="companyId != null "> and a.company_id = #{companyId}</if>
            <if test="appId != null  and appId != ''"> and a.app_id = #{appId}</if>
            <if test="title != null  and title != ''"> and a.title = #{title}</if>
            <if test="termValidity != null "> and a.term_validity = #{termValidity}</if>
            <if test="rechargeAmount != null "> and a.recharge_amount = #{rechargeAmount}</if>
            <if test="fullMoney != null "> and a.full_money = #{fullMoney}</if>
            <if test="minusMoney != null "> and a.minus_money = #{minusMoney}</if>
            <if test="distributionMode != null  and distributionMode != ''"> and a.distribution_mode = #{distributionMode}</if>
            <if test="number != null "> and a.number = #{number}</if>
            <if test="status != null  and status != ''"> and a.status = #{status}</if>
        </where>
    </select>

    <select id="selectPhoneCouponById" parameterType="Long" resultMap="PhoneCouponResult">
        <include refid="selectPhoneCouponVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertPhoneCoupon" parameterType="PhoneCoupon" useGeneratedKeys="true" keyProperty="id">
        insert into phone_coupon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="appId != null">app_id,</if>
            <if test="title != null">title,</if>
            <if test="termValidity != null">term_validity,</if>
            <if test="rechargeAmount != null">recharge_amount,</if>
            <if test="fullMoney != null">full_money,</if>
            <if test="minusMoney != null">minus_money,</if>
            <if test="distributionMode != null">distribution_mode,</if>
            <if test="number != null">number,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="appId != null">#{appId},</if>
            <if test="title != null">#{title},</if>
            <if test="termValidity != null">#{termValidity},</if>
            <if test="rechargeAmount != null">#{rechargeAmount},</if>
            <if test="fullMoney != null">#{fullMoney},</if>
            <if test="minusMoney != null">#{minusMoney},</if>
            <if test="distributionMode != null">#{distributionMode},</if>
            <if test="number != null">#{number},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePhoneCoupon" parameterType="PhoneCoupon">
        update phone_coupon
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="appId != null">app_id = #{appId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="termValidity != null">term_validity = #{termValidity},</if>
            <if test="rechargeAmount != null">recharge_amount = #{rechargeAmount},</if>
            <if test="fullMoney != null">full_money = #{fullMoney},</if>
            <if test="minusMoney != null">minus_money = #{minusMoney},</if>
            <if test="distributionMode != null">distribution_mode = #{distributionMode},</if>
            <if test="number != null">number = #{number},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePhoneCouponById" parameterType="Long">
        delete from phone_coupon where id = #{id}
    </delete>

    <delete id="deletePhoneCouponByIds" parameterType="String">
        delete from phone_coupon where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>