<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.phone.mapper.PhoneMemberNowMapper">

    <resultMap type="PhoneMemberNow" id="PhoneMemberNowResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="appId"    column="app_id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="wechatConfig"    column="app_id" javaType="WechatConfig" resultMap="WechatConfigResult" />
    </resultMap>

    <resultMap type="WechatConfig" id="WechatConfigResult">
        <result property="title"    column="wxTitle"    />
    </resultMap>

    <sql id="selectPhoneMemberNowVo">
        select
            a.id,
            a.company_id,
            a.app_id,
            a.title,
            a.content,
            a.status,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            a.remark,
            wc.title as wxTitle
        from phone_member_now  a
                 left join phone_wechat_config wc ON wc.app_id = a.app_id
    </sql>

    <select id="selectPhoneMemberNowList" parameterType="PhoneMemberNow" resultMap="PhoneMemberNowResult">
        <include refid="selectPhoneMemberNowVo"/>
        <where>
            <if test="companyId != null "> and a.company_id = #{companyId}</if>
            <if test="appId != null  and appId != ''"> and a.app_id = #{appId}</if>
            <if test="title != null  and title != ''"> and a.title = #{title}</if>
            <if test="content != null  and content != ''"> and a.content = #{content}</if>
            <if test="status != null  and status != ''"> and a.status = #{status}</if>
        </where>
    </select>

    <select id="selectPhoneMemberNowById" parameterType="Long" resultMap="PhoneMemberNowResult">
        <include refid="selectPhoneMemberNowVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertPhoneMemberNow" parameterType="PhoneMemberNow" useGeneratedKeys="true" keyProperty="id">
        insert into phone_member_now
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="appId != null">app_id,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="appId != null">#{appId},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePhoneMemberNow" parameterType="PhoneMemberNow">
        update phone_member_now
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="appId != null">app_id = #{appId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePhoneMemberNowById" parameterType="Long">
        delete from phone_member_now where id = #{id}
    </delete>

    <delete id="deletePhoneMemberNowByIds" parameterType="String">
        delete from phone_member_now where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>