<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.phone.mapper.PhoneCardMapper">

    <resultMap type="PhoneCard" id="PhoneCardResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="appId"    column="app_id"    />
        <result property="cardNo"    column="card_no"    />
        <result property="price"    column="price"    />
        <result property="status"    column="status"    />
        <result property="cancelStatus"    column="cancel_status"    />
        <result property="cancelTime"    column="cancel_time"    />
        <result property="memberId"    column="member_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="wechatConfig"    column="app_id" javaType="WechatConfig" resultMap="WechatConfigResult" />
        <association property="member"    column="member_id" javaType="Member" resultMap="MemberResult" />
    </resultMap>

    <resultMap type="WechatConfig" id="WechatConfigResult">
        <result property="title"    column="wxTitle"    />
    </resultMap>

    <resultMap type="Member" id="MemberResult">
        <result property="id"    column="member_id"    />
        <result property="name"    column="memberName"    />
        <result property="avatar"    column="memberAvatar"    />
        <result property="number"    column="number"    />
        <result property="mobile"    column="memberMobile"    />
        <result property="sex"    column="sex"    />
        <result property="birthday"    column="birthday"    />
        <result property="balance"    column="balance"    />
        <result property="openId"    column="open_id"    />
        <result property="isMember"    column="is_member"    />
    </resultMap>

    <sql id="selectPhoneCardVo">
        select
            a.id,
            a.company_id,
            a.app_id,
            a.card_no,
            a.price,
            a.status,
            a.cancel_status,
            a.cancel_time,
            a.member_id,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            a.remark,
            wc.title as wxTitle,
            m.name AS memberName,
            m.avatar AS memberAvatar,
            m.number,
            m.mobile AS memberMobile,
            m.sex,
            m.birthday,
            m.balance,
            m.open_id,
            m.is_member
        from phone_card  a
                 left join phone_wechat_config wc ON wc.app_id = a.app_id
    </sql>

    <select id="selectPhoneCardList" parameterType="PhoneCard" resultMap="PhoneCardResult">
        <include refid="selectPhoneCardVo"/>
        <where>
            <if test="companyId != null "> and a.company_id = #{companyId}</if>
            <if test="appId != null  and appId != ''"> and a.app_id = #{appId}</if>
            <if test="cardNo != null  and cardNo != ''"> and a.card_no = #{cardNo}</if>
            <if test="price != null "> and a.price = #{price}</if>
            <if test="status != null  and status != ''"> and a.status = #{status}</if>
            <if test="cancelStatus != null  and cancelStatus != ''"> and a.cancel_status = #{cancelStatus}</if>
            <if test="cancelTime != null "> and a.cancel_time = #{cancelTime}</if>
            <if test="memberId != null "> and a.member_id = #{memberId}</if>
        </where>
    </select>

    <select id="selectPhoneCardById" parameterType="Long" resultMap="PhoneCardResult">
        <include refid="selectPhoneCardVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertPhoneCard" parameterType="PhoneCard" useGeneratedKeys="true" keyProperty="id">
        insert into phone_card
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="appId != null">app_id,</if>
            <if test="cardNo != null">card_no,</if>
            <if test="price != null">price,</if>
            <if test="status != null">status,</if>
            <if test="cancelStatus != null">cancel_status,</if>
            <if test="cancelTime != null">cancel_time,</if>
            <if test="memberId != null">member_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="appId != null">#{appId},</if>
            <if test="cardNo != null">#{cardNo},</if>
            <if test="price != null">#{price},</if>
            <if test="status != null">#{status},</if>
            <if test="cancelStatus != null">#{cancelStatus},</if>
            <if test="cancelTime != null">#{cancelTime},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePhoneCard" parameterType="PhoneCard">
        update phone_card
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="appId != null">app_id = #{appId},</if>
            <if test="cardNo != null">card_no = #{cardNo},</if>
            <if test="price != null">price = #{price},</if>
            <if test="status != null">status = #{status},</if>
            <if test="cancelStatus != null">cancel_status = #{cancelStatus},</if>
            <if test="cancelTime != null">cancel_time = #{cancelTime},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePhoneCardById" parameterType="Long">
        delete from phone_card where id = #{id}
    </delete>

    <delete id="deletePhoneCardByIds" parameterType="String">
        delete from phone_card where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>