<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.phone.mapper.PhoneCommissionLogMapper">

    <resultMap type="PhoneCommissionLog" id="PhoneCommissionLogResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="configId"    column="config_id"    />
        <result property="memberId"    column="member_id"    />
        <result property="commissionBefore"    column="commission_before"    />
        <result property="money"    column="money"    />
        <result property="commissionAfter"    column="commission_after"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="wechatConfig"    column="app_id" javaType="WechatConfig" resultMap="WechatConfigResult" />
        <association property="member"    column="member_id" javaType="Member" resultMap="MemberResult" />
    </resultMap>

    <resultMap type="WechatConfig" id="WechatConfigResult">
        <result property="title"    column="wxTitle"    />
    </resultMap>

    <resultMap type="Member" id="MemberResult">
        <result property="id"    column="member_id"    />
        <result property="name"    column="memberName"    />
        <result property="avatar"    column="memberAvatar"    />
        <result property="number"    column="number"    />
        <result property="mobile"    column="memberMobile"    />
        <result property="sex"    column="sex"    />
        <result property="birthday"    column="birthday"    />
        <result property="balance"    column="balance"    />
        <result property="openId"    column="open_id"    />
        <result property="isMember"    column="is_member"    />
    </resultMap>

    <sql id="selectPhoneCommissionLogVo">
        select
            a.id,
            a.company_id,
            a.config_id,
            a.member_id,
            a.commission_before,
            a.money,
            a.commission_after,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            a.remark,
            wc.title as wxTitle,
            m.name AS memberName,
            m.avatar AS memberAvatar,
            m.number,
            m.mobile AS memberMobile,
            m.sex,
            m.birthday,
            m.balance,
            m.open_id,
            m.is_member
        from phone_commission_log a
                 left join phone_wechat_config wc ON wc.app_id = a.app_id
                 left join phone_member m ON m.id = a.member_id
    </sql>

    <select id="selectPhoneCommissionLogList" parameterType="PhoneCommissionLog" resultMap="PhoneCommissionLogResult">
        <include refid="selectPhoneCommissionLogVo"/>
        <where>
            <if test="companyId != null "> and a.company_id = #{companyId}</if>
            <if test="configId != null "> and a.config_id = #{configId}</if>
            <if test="memberId != null "> and a.member_id = #{memberId}</if>
            <if test="commissionBefore != null "> and a.commission_before = #{commissionBefore}</if>
            <if test="money != null "> and a.money = #{money}</if>
            <if test="commissionAfter != null "> and a.commission_after = #{commissionAfter}</if>
        </where>
        ORDER BY a.create_time DESC
    </select>

    <select id="selectPhoneCommissionLogById" parameterType="Long" resultMap="PhoneCommissionLogResult">
        <include refid="selectPhoneCommissionLogVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertPhoneCommissionLog" parameterType="PhoneCommissionLog" useGeneratedKeys="true" keyProperty="id">
        insert into phone_commission_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="configId != null">config_id,</if>
            <if test="memberId != null">member_id,</if>
            <if test="commissionBefore != null">commission_before,</if>
            <if test="money != null">money,</if>
            <if test="commissionAfter != null">commission_after,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="configId != null">#{configId},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="commissionBefore != null">#{commissionBefore},</if>
            <if test="money != null">#{money},</if>
            <if test="commissionAfter != null">#{commissionAfter},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePhoneCommissionLog" parameterType="PhoneCommissionLog">
        update phone_commission_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="configId != null">config_id = #{configId},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="commissionBefore != null">commission_before = #{commissionBefore},</if>
            <if test="money != null">money = #{money},</if>
            <if test="commissionAfter != null">commission_after = #{commissionAfter},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePhoneCommissionLogById" parameterType="Long">
        delete from phone_commission_log where id = #{id}
    </delete>

    <delete id="deletePhoneCommissionLogByIds" parameterType="String">
        delete from phone_commission_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>