<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.phone.mapper.PhoneMemberCardLogMapper">

    <resultMap type="PhoneMemberCardLog" id="PhoneMemberCardLogResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="appId"    column="app_id"    />
        <result property="memberId"    column="member_id"    />
        <result property="payStatus"    column="pay_status"    />
        <result property="payType"    column="pay_type"    />
        <result property="orderNo"    column="order_no"    />
        <result property="money"    column="money"    />
        <result property="balanceMoney"    column="balance_money"    />
        <result property="totalMoney"    column="total_money"    />
        <result property="cardId"    column="card_id"    />
        <result property="buyDay"    column="buy_day"    />
        <result property="cardName"    column="card_name"    />
        <result property="payTime"    column="pay_time"    />
        <result property="payResult"    column="pay_result"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectPhoneMemberCardLogVo">
        select
            id,
            company_id,
            app_id,
            member_id,
            pay_status,
            pay_type,
            order_no,
            money,
            balance_money,
            total_money,
            card_id,
            buy_day,
            card_name,
            pay_time,
            pay_result,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        from phone_member_card_log
    </sql>

    <select id="selectPhoneMemberCardLogList" parameterType="PhoneMemberCardLog" resultMap="PhoneMemberCardLogResult">
        <include refid="selectPhoneMemberCardLogVo"/>
        <where>
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="appId != null  and appId != ''"> and app_id = #{appId}</if>
            <if test="memberId != null "> and member_id = #{memberId}</if>
            <if test="payStatus != null  and payStatus != ''"> and pay_status = #{payStatus}</if>
            <if test="payType != null  and payType != ''"> and pay_type = #{payType}</if>
            <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
            <if test="money != null "> and money = #{money}</if>
            <if test="balanceMoney != null "> and balance_money = #{balanceMoney}</if>
            <if test="totalMoney != null "> and total_money = #{totalMoney}</if>
            <if test="cardId != null "> and card_id = #{cardId}</if>
            <if test="buyDay != null "> and buy_day = #{buyDay}</if>
            <if test="cardName != null  and cardName != ''"> and card_name like concat('%', #{cardName}, '%')</if>
            <if test="payTime != null  and payTime != ''"> and pay_time = #{payTime}</if>
            <if test="payResult != null  and payResult != ''"> and pay_result = #{payResult}</if>
        </where>
    </select>

    <select id="selectPhoneMemberCardLogByOrderNo" parameterType="string" resultMap="PhoneMemberCardLogResult">
        <include refid="selectPhoneMemberCardLogVo"/>
        where order_no = #{orderNo}
    </select>

    <select id="selectPhoneMemberCardLogById" parameterType="Long" resultMap="PhoneMemberCardLogResult">
        <include refid="selectPhoneMemberCardLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertPhoneMemberCardLog" parameterType="PhoneMemberCardLog" useGeneratedKeys="true" keyProperty="id">
        insert into phone_member_card_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="appId != null">app_id,</if>
            <if test="memberId != null">member_id,</if>
            <if test="payStatus != null">pay_status,</if>
            <if test="payType != null">pay_type,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="money != null">money,</if>
            <if test="balanceMoney != null">balance_money,</if>
            <if test="totalMoney != null">total_money,</if>
            <if test="cardId != null">card_id,</if>
            <if test="buyDay != null">buy_day,</if>
            <if test="cardName != null">card_name,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="payResult != null">pay_result,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="appId != null">#{appId},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="payStatus != null">#{payStatus},</if>
            <if test="payType != null">#{payType},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="money != null">#{money},</if>
            <if test="balanceMoney != null">#{balanceMoney},</if>
            <if test="totalMoney != null">#{totalMoney},</if>
            <if test="cardId != null">#{cardId},</if>
            <if test="buyDay != null">#{buyDay},</if>
            <if test="cardName != null">#{cardName},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="payResult != null">#{payResult},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePhoneMemberCardLog" parameterType="PhoneMemberCardLog">
        update phone_member_card_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="appId != null">app_id = #{appId},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="payStatus != null">pay_status = #{payStatus},</if>
            <if test="payType != null">pay_type = #{payType},</if>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="money != null">money = #{money},</if>
            <if test="balanceMoney != null">balance_money = #{balanceMoney},</if>
            <if test="totalMoney != null">total_money = #{totalMoney},</if>
            <if test="cardId != null">card_id = #{cardId},</if>
            <if test="buyDay != null">buy_day = #{buyDay},</if>
            <if test="cardName != null">card_name = #{cardName},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="payResult != null">pay_result = #{payResult},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePhoneMemberCardLogById" parameterType="Long">
        delete from phone_member_card_log where id = #{id}
    </delete>

    <delete id="deletePhoneMemberCardLogByIds" parameterType="String">
        delete from phone_member_card_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>