<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.phone.mapper.PhoneCommissionLogMapper">

    <resultMap type="PhoneCommissionLog" id="PhoneCommissionLogResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="appId"    column="app_id"    />
        <result property="memberId"    column="member_id"    />
        <result property="type"    column="type"    />
        <result property="commissionBefore"    column="commission_before"    />
        <result property="money"    column="money"    />
        <result property="commissionAfter"    column="commission_after"    />
        <result property="alipayName"    column="alipay_name"    />
        <result property="alipayMobile"    column="alipay_mobile"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="auditId"    column="audit_id"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="wechatConfig"    column="app_id" javaType="WechatConfig" resultMap="WechatConfigResult" />
        <association property="member"    column="member_id" javaType="Member" resultMap="MemberResult" />
    </resultMap>

    <resultMap type="WechatConfig" id="WechatConfigResult">
        <result property="title"    column="wxTitle"    />
    </resultMap>

    <resultMap type="Member" id="MemberResult">
        <result property="id"    column="member_id"    />
        <result property="name"    column="memberName"    />
        <result property="avatar"    column="memberAvatar"    />
        <result property="number"    column="number"    />
        <result property="mobile"    column="memberMobile"    />
        <result property="sex"    column="sex"    />
        <result property="birthday"    column="birthday"    />
        <result property="balance"    column="balance"    />
        <result property="openId"    column="open_id"    />
        <result property="isMember"    column="is_member"    />
    </resultMap>

    <resultMap type="SysUser" id="SysUserResult">
        <id     property="userId"       column="audit_id"      />
        <result property="userName"     column="user_name"    />
        <result property="nickName"     column="nick_name"    />
        <result property="email"        column="email"        />
        <result property="phonenumber"  column="phonenumber"  />
        <result property="sex"          column="sex"          />
        <result property="avatar"       column="avatar"       />
    </resultMap>

    <sql id="selectPhoneCommissionLogVo">
        select
            a.id,
            a.dept_id,
            a.app_id,
            a.member_id,
               a.type,
            a.commission_before,
            a.money,
            a.commission_after,
            a.alipay_name,
            a.alipay_mobile,
            a.audit_status,
            a.audit_id,
            a.audit_time,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            a.remark,
            wc.title as wxTitle,
            m.name AS memberName,
            m.avatar AS memberAvatar,
            m.number,
            m.mobile AS memberMobile,
            m.sex,
            m.birthday,
            m.balance,
            m.open_id,
            m.is_member,
               u.user_name,
               u.nick_name,
               u.email,
               u.avatar
        from phone_commission_log a
                 left join phone_wechat_config wc ON wc.app_id = a.app_id
                 left join phone_member m ON m.id = a.member_id
                left join sys_user u ON u.user_id = a.audit_id
                 left join sys_dept d on a.dept_id = d.dept_id
    </sql>

    <select id="selectPhoneCommissionLogList" parameterType="PhoneCommissionLog" resultMap="PhoneCommissionLogResult">
        <include refid="selectPhoneCommissionLogVo"/>
        <where>
            <if test="deptId != null "> and a.dept_id = #{deptId}</if>
            <if test="appId != null "> and a.app_id = #{appId}</if>
            <if test="memberId != null "> and a.member_id = #{memberId}</if>
            <if test="type != null "> and a.type = #{type}</if>
            <if test="commissionBefore != null "> and a.commission_before = #{commissionBefore}</if>
            <if test="money != null "> and a.money = #{money}</if>
            <if test="commissionAfter != null "> and a.commission_after = #{commissionAfter}</if>
            <if test="auditStatus != null  and auditStatus != ''"> and a.audit_status = #{auditStatus}</if>
            <if test="auditId != null "> and a.audit_id = #{auditId}</if>
            <if test="auditTime != null "> and a.audit_time = #{auditTime}</if>
            <if test="alipayName != null "> and a.alipay_name like concat('%',#{alipayName},'%')</if>
            <if test="alipayMobile != null "> and a.alipay_mobile like concat('%',#{alipayMobile},'%')</if>
             <if test="user != null">
                 <if test="user.userName != null and user.userName != ''">
                     AND u.user_name like concat('%',#{user.userName},'%')
                 </if>
                 <if test="user.nickName != null and user.nickName != ''">
                     AND u.nick_name like concat('%',#{user.nickName},'%')
                 </if>
             </if>
            <if test="member != null">
                <if test="member.name != null and member.name != ''">
                    AND m.name like concat('%',#{member.name},'%')
                </if>
                <if test="member.number != null and member.number != ''">
                    AND m.number like concat('%',#{member.number},'%')
                </if>
                <if test="member.isMember != null and member.isMember != ''">
                    AND m.is_member = #{member.isMember}
                </if>
                <if test="member.isSuperMember != null and member.isSuperMember != ''">
                    AND m.is_super_member = #{member.isSuperMember}
                </if>
            </if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        ORDER BY a.create_time DESC
    </select>

    <select id="selectPhoneCommissionLogById" parameterType="Long" resultMap="PhoneCommissionLogResult">
        <include refid="selectPhoneCommissionLogVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertPhoneCommissionLog" parameterType="PhoneCommissionLog" useGeneratedKeys="true" keyProperty="id">
        insert into phone_commission_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">dept_id,</if>
            <if test="appId != null">app_id,</if>
            <if test="memberId != null">member_id,</if>
            <if test="type != null">type,</if>
            <if test="commissionBefore != null">commission_before,</if>
            <if test="money != null">money,</if>
            <if test="commissionAfter != null">commission_after,</if>
            <if test="alipayName != null">alipay_name,</if>
            <if test="alipayMobile != null">alipay_mobile,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="auditId != null">audit_id,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">#{deptId},</if>
            <if test="appId != null">#{appId},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="type != null">#{type},</if>
            <if test="commissionBefore != null">#{commissionBefore},</if>
            <if test="money != null">#{money},</if>
            <if test="commissionAfter != null">#{commissionAfter},</if>
            <if test="alipayName != null">#{alipayName},</if>
            <if test="alipayMobile != null">#{alipayMobile},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="auditId != null">#{auditId},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePhoneCommissionLog" parameterType="PhoneCommissionLog">
        update phone_commission_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="appId != null">app_id = #{appId},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="commissionBefore != null">commission_before = #{commissionBefore},</if>
            <if test="money != null">money = #{money},</if>
            <if test="commissionAfter != null">commission_after = #{commissionAfter},</if>
            <if test="alipayName != null">alipay_name = #{alipayName},</if>
            <if test="alipayMobile != null">alipay_mobile = #{alipayMobile},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="auditId != null">audit_id = #{auditId},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePhoneCommissionLogById" parameterType="Long">
        delete from phone_commission_log where id = #{id}
    </delete>

    <delete id="deletePhoneCommissionLogByIds" parameterType="String">
        delete from phone_commission_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>