<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.phone.mapper.PhoneMemberCardMapper">

    <resultMap type="PhoneMemberCard" id="PhoneMemberCardResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="appId"    column="app_id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="memberDay"    column="member_day"    />
        <result property="orderNum"    column="order_num"    />
        <result property="originalPrice"    column="original_price"    />
        <result property="buyingPrice"    column="buying_price"    />
        <result property="directCommission"    column="direct_commission"    />
        <result property="indirectCommission"    column="indirect_commission"    />
        <result property="type"    column="type"    />
        <result property="method"    column="method"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="wechatConfig"    column="app_id" javaType="WechatConfig" resultMap="WechatConfigResult" />
    </resultMap>

    <resultMap type="WechatConfig" id="WechatConfigResult">
        <result property="title"    column="wxTitle"    />
    </resultMap>

    <sql id="selectPhoneMemberCardVo">
        select
            a.id,
            a.company_id,
            a.app_id,
            a.title,
            a.content,
            a.member_day,
            a.order_num,
            a.original_price,
            a.buying_price,
            a.direct_commission,
            a.indirect_commission,
            a.type,
            a.method,
            a.status,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            a.remark,
            wc.title as wxTitle
        from phone_member_card a
                 left join phone_wechat_config wc ON wc.app_id = a.app_id
    </sql>

    <select id="selectPhoneMemberCardList" parameterType="PhoneMemberCard" resultMap="PhoneMemberCardResult">
        <include refid="selectPhoneMemberCardVo"/>
        <where>
            <if test="companyId != null "> and a.company_id = #{companyId}</if>
            <if test="appId != null  and appId != ''"> and a.app_id = #{appId}</if>
            <if test="title != null  and title != ''"> and a.title = #{title}</if>
            <if test="content != null  and content != ''"> and a.content = #{content}</if>
            <if test="memberDay != null "> and a.member_day = #{memberDay}</if>
            <if test="orderNum != null "> and a.order_num = #{orderNum}</if>
            <if test="originalPrice != null "> and a.original_price = #{originalPrice}</if>
            <if test="buyingPrice != null "> and a.buying_price = #{buyingPrice}</if>
            <if test="directCommission != null "> and a.direct_commission = #{directCommission}</if>
            <if test="indirectCommission != null "> and a.indirect_commission = #{indirectCommission}</if>
            <if test="type != null  and type != ''"> and a.type = #{type}</if>
            <if test="method != null  and method != ''"> and a.method = #{method}</if>
            <if test="status != null  and status != ''"> and a.status = #{status}</if>
        </where>
    </select>

    <select id="selectPhoneMemberCardById" parameterType="Long" resultMap="PhoneMemberCardResult">
        <include refid="selectPhoneMemberCardVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertPhoneMemberCard" parameterType="PhoneMemberCard" useGeneratedKeys="true" keyProperty="id">
        insert into phone_member_card
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="appId != null">app_id,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="memberDay != null">member_day,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="originalPrice != null">original_price,</if>
            <if test="buyingPrice != null">buying_price,</if>
            <if test="directCommission != null">direct_commission,</if>
            <if test="indirectCommission != null">indirect_commission,</if>
            <if test="type != null">type,</if>
            <if test="method != null">method,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="appId != null">#{appId},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="memberDay != null">#{memberDay},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="originalPrice != null">#{originalPrice},</if>
            <if test="buyingPrice != null">#{buyingPrice},</if>
            <if test="directCommission != null">#{directCommission},</if>
            <if test="indirectCommission != null">#{indirectCommission},</if>
            <if test="type != null">#{type},</if>
            <if test="method != null">#{method},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePhoneMemberCard" parameterType="PhoneMemberCard">
        update phone_member_card
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="appId != null">app_id = #{appId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="memberDay != null">member_day = #{memberDay},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="originalPrice != null">original_price = #{originalPrice},</if>
            <if test="buyingPrice != null">buying_price = #{buyingPrice},</if>
            <if test="directCommission != null">direct_commission = #{directCommission},</if>
            <if test="indirectCommission != null">indirect_commission = #{indirectCommission},</if>
            <if test="type != null">type = #{type},</if>
            <if test="method != null">method = #{method},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePhoneMemberCardById" parameterType="Long">
        delete from phone_member_card where id = #{id}
    </delete>

    <delete id="deletePhoneMemberCardByIds" parameterType="String">
        delete from phone_member_card where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>