<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.phone.mapper.PhoneCompanyConfigMapper">

    <resultMap type="PhoneCompanyConfig" id="PhoneCompanyConfigResult">
        <result property="id"    column="id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="appId"    column="app_id"    />
        <result property="promotionPoster"    column="promotion_poster"    />
        <result property="xAxis"    column="x_axis"    />
        <result property="yAxis"    column="y_axis"    />
        <result property="codeWidth"    column="code_width"    />
        <result property="codeHeight"    column="code_height"    />
        <result property="slowChargingContent"    column="slow_charging_content"    />
        <result property="quickChargeContent"    column="quick_charge_content"    />
        <result property="electricityContent"    column="electricity_content"    />
        <result property="shareTitle"    column="share_title"    />
        <result property="shareContent"    column="share_content"    />
        <result property="sharePhoto"    column="share_photo"    />
        <result property="personalCenterTitle"    column="personal_center_title"    />
        <result property="personalCenterContent"    column="personal_center_content"    />
        <result property="commissionContent"    column="commission_content"    />
        <result property="commissionMinimum"    column="commission_minimum"    />
        <result property="commissionRate"    column="commission_rate"    />
        <result property="couponContent"    column="coupon_content"    />
        <result property="couponPrice"    column="coupon_price"    />
        <result property="cardTitle"    column="card_title"    />
        <result property="cardIntroduce"    column="card_introduce"    />
        <result property="cardContent"    column="card_content"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="wechatConfig"    column="app_id" javaType="WechatConfig" resultMap="WechatConfigResult" />
    </resultMap>

    <resultMap type="WechatConfig" id="WechatConfigResult">
        <result property="title"    column="wxTitle"    />
    </resultMap>

    <sql id="selectPhoneCompanyConfigVo">
        select
            a.id,
            a.dept_id,
            a.app_id,
            a.promotion_poster,
               a.x_axis,
               a.y_axis,
               a.code_width,
               a.code_height,
            a.slow_charging_content,
            a.quick_charge_content,
            a.electricity_content,
            a.share_title,
            a.share_content,
            a.share_photo,
            a.personal_center_title,
            a.personal_center_content,
               a.commission_content,
               a.commission_minimum,
               a.commission_rate,
               a.coupon_content,
               a.coupon_price,
               a.card_title,
               a.card_introduce,
               a.card_content,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            a.remark,
            wc.title as wxTitle
        from phone_company_config a
                 left join phone_wechat_config wc ON wc.app_id = a.app_id
                 left join sys_dept d on a.dept_id = d.dept_id
    </sql>

    <select id="selectPhoneCompanyConfigList" parameterType="PhoneCompanyConfig" resultMap="PhoneCompanyConfigResult">
        <include refid="selectPhoneCompanyConfigVo"/>
        <where>
            <if test="deptId != null "> and a.dept_id = #{deptId}</if>
            <if test="appId != null  and appId != ''"> and a.app_id = #{appId}</if>
            <if test="promotionPoster != null  and promotionPoster != ''"> and a.promotion_poster = #{promotionPoster}</if>
            <if test="slowChargingContent != null  and slowChargingContent != ''"> and a.slow_charging_content = #{slowChargingContent}</if>
            <if test="quickChargeContent != null  and quickChargeContent != ''"> and a.quick_charge_content = #{quickChargeContent}</if>
            <if test="electricityContent != null  and electricityContent != ''"> and a.electricity_content = #{electricityContent}</if>
            <if test="shareTitle != null  and shareTitle != ''"> and a.share_title = #{shareTitle}</if>
            <if test="shareContent != null  and shareContent != ''"> and a.share_content = #{shareContent}</if>
            <if test="sharePhoto != null  and sharePhoto != ''"> and a.share_photo = #{sharePhoto}</if>
            <!-- 数据范围过滤 -->
            ${params.dataScope}
        </where>
        ORDER BY a.create_time DESC
    </select>

    <select id="selectPhoneCompanyConfigById" parameterType="Long" resultMap="PhoneCompanyConfigResult">
        <include refid="selectPhoneCompanyConfigVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertPhoneCompanyConfig" parameterType="PhoneCompanyConfig" useGeneratedKeys="true" keyProperty="id">
        insert into phone_company_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deptId != null">dept_id,</if>
            <if test="appId != null">app_id,</if>
            <if test="promotionPoster != null">promotion_poster,</if>
            <if test="xAxis != null">x_axis,</if>
            <if test="yAxis != null">y_axis,</if>
            <if test="codeWidth != null">code_width,</if>
            <if test="codeHeight != null">code_height,</if>
            <if test="slowChargingContent != null">slow_charging_content,</if>
            <if test="quickChargeContent != null">quick_charge_content,</if>
            <if test="electricityContent != null">electricity_content,</if>
            <if test="shareTitle != null">share_title,</if>
            <if test="shareContent != null">share_content,</if>
            <if test="sharePhoto != null">share_photo,</if>
            <if test="personalCenterTitle != null">personal_center_title,</if>
            <if test="personalCenterContent != null">personal_center_content,</if>
            <if test="commissionContent != null">commission_content,</if>
            <if test="commissionMinimum != null">commission_minimum,</if>
            <if test="commissionRate != null">commission_rate,</if>
            <if test="couponContent != null">coupon_content,</if>
            <if test="couponPrice != null">coupon_price,</if>
            <if test="cardTitle != null">card_title,</if>
            <if test="cardIntroduce != null">card_introduce,</if>
            <if test="cardContent != null">card_content,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deptId != null">#{deptId},</if>
            <if test="appId != null">#{appId},</if>
            <if test="promotionPoster != null">#{promotionPoster},</if>
            <if test="xAxis != null">#{xAxis},</if>
            <if test="yAxis != null">#{yAxis},</if>
            <if test="codeWidth != null">#{codeWidth},</if>
            <if test="codeHeight != null">#{codeHeight},</if>
            <if test="slowChargingContent != null">#{slowChargingContent},</if>
            <if test="quickChargeContent != null">#{quickChargeContent},</if>
            <if test="electricityContent != null">#{electricityContent},</if>
            <if test="shareTitle != null">#{shareTitle},</if>
            <if test="shareContent != null">#{shareContent},</if>
            <if test="sharePhoto != null">#{sharePhoto},</if>
            <if test="personalCenterTitle != null">#{personalCenterTitle},</if>
            <if test="personalCenterContent != null">#{personalCenterContent},</if>
            <if test="commissionContent != null">#{commissionContent},</if>
            <if test="commissionMinimum != null">#{commissionMinimum},</if>
            <if test="commissionRate != null">#{commissionRate},</if>
            <if test="couponContent != null">#{couponContent},</if>
            <if test="couponPrice != null">#{couponPrice},</if>
            <if test="cardTitle != null">#{cardTitle},</if>
            <if test="cardIntroduce != null">#{cardIntroduce},</if>
            <if test="cardContent != null">#{cardContent},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePhoneCompanyConfig" parameterType="PhoneCompanyConfig">
        update phone_company_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="appId != null">app_id = #{appId},</if>
            <if test="promotionPoster != null">promotion_poster = #{promotionPoster},</if>
            <if test="xAxis != null">x_axis = #{xAxis},</if>
            <if test="yAxis != null">y_axis = #{yAxis},</if>
            <if test="codeWidth != null">code_width = #{codeWidth},</if>
            <if test="codeHeight != null">code_height = #{codeHeight},</if>
            <if test="slowChargingContent != null">slow_charging_content = #{slowChargingContent},</if>
            <if test="quickChargeContent != null">quick_charge_content = #{quickChargeContent},</if>
            <if test="electricityContent != null">electricity_content = #{electricityContent},</if>
            <if test="shareTitle != null">share_title = #{shareTitle},</if>
            <if test="shareContent != null">share_content = #{shareContent},</if>
            <if test="sharePhoto != null">share_photo = #{sharePhoto},</if>
            <if test="personalCenterTitle != null">personal_center_title = #{personalCenterTitle},</if>
            <if test="personalCenterContent != null">personal_center_content = #{personalCenterContent},</if>
            <if test="commissionContent != null">commission_content = #{commissionContent},</if>
            <if test="commissionMinimum != null">commission_minimum = #{commissionMinimum},</if>
            <if test="commissionRate != null">commission_rate = #{commissionRate},</if>
            <if test="couponContent != null">coupon_content = #{couponContent},</if>
            <if test="couponPrice != null">coupon_price = #{couponPrice},</if>
            <if test="cardTitle != null">card_title = #{cardTitle},</if>
            <if test="cardIntroduce != null">card_introduce = #{cardIntroduce},</if>
            <if test="cardContent != null">card_content = #{cardContent},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePhoneCompanyConfigById" parameterType="Long">
        delete from phone_company_config where id = #{id}
    </delete>

    <delete id="deletePhoneCompanyConfigByIds" parameterType="String">
        delete from phone_company_config where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>