<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.phone.mapper.PhoneMemberCardMapper">

    <resultMap type="PhoneMemberCard" id="PhoneMemberCardResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="configId"    column="config_id"    />
        <result property="titile"    column="titile"    />
        <result property="content"    column="content"    />
        <result property="memberDay"    column="member_day"    />
        <result property="orderNum"    column="order_num"    />
        <result property="originalPrice"    column="original_price"    />
        <result property="buyingPrice"    column="buying_price"    />
        <result property="directCommission"    column="direct_commission"    />
        <result property="indirectCommission"    column="indirect_commission"    />
        <result property="type"    column="type"    />
        <result property="method"    column="method"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectPhoneMemberCardVo">
        select
            id,
            company_id,
            config_id,
            titile,
            content,
            member_day,
            order_num,
            original_price,
            buying_price,
            direct_commission,
            indirect_commission,
            type,
            method,
            status,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        from phone_member_card
    </sql>

    <select id="selectPhoneMemberCardList" parameterType="PhoneMemberCard" resultMap="PhoneMemberCardResult">
        <include refid="selectPhoneMemberCardVo"/>
        <where>
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="configId != null "> and config_id = #{configId}</if>
            <if test="titile != null  and titile != ''"> and titile = #{titile}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="memberDay != null "> and member_day = #{memberDay}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
            <if test="originalPrice != null "> and original_price = #{originalPrice}</if>
            <if test="buyingPrice != null "> and buying_price = #{buyingPrice}</if>
            <if test="directCommission != null "> and direct_commission = #{directCommission}</if>
            <if test="indirectCommission != null "> and indirect_commission = #{indirectCommission}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="method != null  and method != ''"> and method = #{method}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectPhoneMemberCardById" parameterType="Long" resultMap="PhoneMemberCardResult">
        <include refid="selectPhoneMemberCardVo"/>
        where id = #{id}
    </select>

    <insert id="insertPhoneMemberCard" parameterType="PhoneMemberCard" useGeneratedKeys="true" keyProperty="id">
        insert into phone_member_card
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="configId != null">config_id,</if>
            <if test="titile != null">titile,</if>
            <if test="content != null">content,</if>
            <if test="memberDay != null">member_day,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="originalPrice != null">original_price,</if>
            <if test="buyingPrice != null">buying_price,</if>
            <if test="directCommission != null">direct_commission,</if>
            <if test="indirectCommission != null">indirect_commission,</if>
            <if test="type != null">type,</if>
            <if test="method != null">method,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="configId != null">#{configId},</if>
            <if test="titile != null">#{titile},</if>
            <if test="content != null">#{content},</if>
            <if test="memberDay != null">#{memberDay},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="originalPrice != null">#{originalPrice},</if>
            <if test="buyingPrice != null">#{buyingPrice},</if>
            <if test="directCommission != null">#{directCommission},</if>
            <if test="indirectCommission != null">#{indirectCommission},</if>
            <if test="type != null">#{type},</if>
            <if test="method != null">#{method},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePhoneMemberCard" parameterType="PhoneMemberCard">
        update phone_member_card
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="configId != null">config_id = #{configId},</if>
            <if test="titile != null">titile = #{titile},</if>
            <if test="content != null">content = #{content},</if>
            <if test="memberDay != null">member_day = #{memberDay},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="originalPrice != null">original_price = #{originalPrice},</if>
            <if test="buyingPrice != null">buying_price = #{buyingPrice},</if>
            <if test="directCommission != null">direct_commission = #{directCommission},</if>
            <if test="indirectCommission != null">indirect_commission = #{indirectCommission},</if>
            <if test="type != null">type = #{type},</if>
            <if test="method != null">method = #{method},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePhoneMemberCardById" parameterType="Long">
        delete from phone_member_card where id = #{id}
    </delete>

    <delete id="deletePhoneMemberCardByIds" parameterType="String">
        delete from phone_member_card where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>