<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.phone.mapper.PhoneOrderMapper">

    <resultMap type="PhoneOrder" id="PhoneOrderResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="appId"    column="app_id"    />
        <result property="memberId"    column="member_id"    />
        <result property="priceId"    column="price_id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="method"    column="method"    />
        <result property="type"    column="type"    />
        <result property="mobile"    column="mobile"    />
        <result property="accountNumber"    column="account_number"    />
        <result property="residenceType"    column="residence_type"    />
        <result property="area"    column="area"    />
        <result property="cardNo"    column="card_no"    />
        <result property="topUpMoney"    column="top_up_money"    />
        <result property="money"    column="money"    />
        <result property="payMoney"    column="pay_money"    />
        <result property="payBalance"    column="pay_balance"    />
        <result property="payType"    column="pay_type"    />
        <result property="payStatus"    column="pay_status"    />
        <result property="arrivalStatus"    column="arrival_status"    />
        <result property="payTime"    column="pay_time"    />
        <result property="payResult"    column="pay_result"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="wechatConfig"    column="app_id" javaType="WechatConfig" resultMap="WechatConfigResult" />
        <association property="member"    column="member_id" javaType="Member" resultMap="MemberResult" />
        <association property="phonePrice"    column="price_id" javaType="PhonePrice" resultMap="PhonePriceResult" />
    </resultMap>

    <resultMap type="WechatConfig" id="WechatConfigResult">
        <result property="title"    column="wxTitle"    />
    </resultMap>

    <resultMap type="Member" id="MemberResult">
        <result property="id"    column="member_id"    />
        <result property="name"    column="memberName"    />
        <result property="avatar"    column="memberAvatar"    />
        <result property="number"    column="number"    />
        <result property="mobile"    column="memberMobile"    />
        <result property="sex"    column="sex"    />
        <result property="birthday"    column="birthday"    />
        <result property="balance"    column="balance"    />
        <result property="openId"    column="open_id"    />
        <result property="isMember"    column="is_member"    />
    </resultMap>

    <resultMap type="PhonePrice" id="PhonePriceResult">
        <result property="method"    column="priceMethod"    />
        <result property="type"    column="priceType"    />
        <result property="typeId"    column="type_id"    />
        <result property="originalPrice"    column="original_price"    />
        <result property="discount"    column="discount"    />
        <result property="sellPrice"    column="sell_price"    />
        <result property="memberPrice"    column="member_price"    />
        <result property="directCommission"    column="direct_commission"    />
        <result property="indirectCommission"    column="indirect_commission"    />
    </resultMap>

    <sql id="selectPhoneOrderVo">
        select
            a.id,
            a.company_id,
            a.app_id,
            a.member_id,
            a.price_id,
            a.order_no,
            a.method,
            a.type,
            a.mobile,
            a.account_number,
            a.residence_type,
            a.area,
            a.card_no,
            a.top_up_money,
            a.money,
            a.pay_money,
            a.pay_balance,
            a.pay_type,
            a.pay_status,
            a.arrival_status,
            a.pay_time,
            a.pay_result,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            a.remark,
            wc.title as wxTitle,
            m.name AS memberName,
            m.avatar AS memberAvatar,
            m.number,
            m.mobile AS memberMobile,
            m.sex,
            m.birthday,
            m.balance,
            m.open_id,
            m.is_member,
            p.method AS priceMethod,
            p.type AS priceType,
            p.type_id,
            p.original_price,
            p.discount,
            p.sell_price,
            p.member_price,
            p.direct_commission,
            p.indirect_commission,
            p.order_num
        from phone_order a
                 left join phone_wechat_config wc ON wc.app_id = a.app_id
                 left join phone_member m ON m.id = a.member_id
                left join phone_price p ON p.id = a.price_id
    </sql>

    <select id="selectPhoneOrderList" parameterType="PhoneOrder" resultMap="PhoneOrderResult">
        <include refid="selectPhoneOrderVo"/>
        <where>
            <if test="companyId != null "> and a.company_id = #{companyId}</if>
            <if test="appId != null  and appId != ''"> and a.app_id = #{appId}</if>
            <if test="memberId != null "> and a.member_id = #{memberId}</if>
            <if test="priceId != null "> and a.price_id = #{priceId}</if>
            <if test="orderNo != null  and orderNo != ''"> and a.order_no = #{orderNo}</if>
            <if test="method != null  and method != ''"> and a.method = #{method}</if>
            <if test="type != null  and type != ''"> and a.type = #{type}</if>
            <if test="mobile != null  and mobile != ''"> and a.mobile = #{mobile}</if>
            <if test="accountNumber != null  and accountNumber != ''"> and a.account_number = #{accountNumber}</if>
            <if test="residenceType != null  and residenceType != ''"> and a.residence_type = #{residenceType}</if>
            <if test="area != null  and area != ''"> and a.area = #{area}</if>
            <if test="cardNo != null  and cardNo != ''"> and a.card_no = #{cardNo}</if>
            <if test="topUpMoney != null "> and a.top_up_money = #{topUpMoney}</if>
            <if test="money != null "> and a.money = #{money}</if>
            <if test="payMoney != null "> and a.pay_money = #{payMoney}</if>
            <if test="payBalance != null "> and a.pay_balance = #{payBalance}</if>
            <if test="payType != null  and payType != ''"> and a.pay_type = #{payType}</if>
            <if test="payStatus != null  and payStatus != ''"> and a.pay_status = #{payStatus}</if>
            <if test="arrivalStatus != null  and arrivalStatus != ''"> and a.arrival_status = #{arrivalStatus}</if>
            <if test="payTime != null  and payTime != ''"> and a.pay_time = #{payTime}</if>
            <if test="payResult != null  and payResult != ''"> and a.pay_result = #{payResult}</if>
        </where>
    </select>

    <select id="selectPhoneOrderListByOrderNo" parameterType="string" resultMap="PhoneOrderResult">
        <include refid="selectPhoneOrderVo"/>
        where a.order_no = #{orderNo}
    </select>

    <select id="selectPhoneOrderById" parameterType="Long" resultMap="PhoneOrderResult">
        <include refid="selectPhoneOrderVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertPhoneOrder" parameterType="PhoneOrder">
        insert into phone_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="companyId != null">company_id,</if>
            <if test="appId != null">app_id,</if>
            <if test="memberId != null">member_id,</if>
            <if test="priceId != null">price_id,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="method != null">method,</if>
            <if test="type != null">type,</if>
            <if test="mobile != null">mobile,</if>
            <if test="accountNumber != null">account_number,</if>
            <if test="residenceType != null">residence_type,</if>
            <if test="area != null">area,</if>
            <if test="cardNo != null">card_no,</if>
            <if test="topUpMoney != null">top_up_money,</if>
            <if test="money != null">money,</if>
            <if test="payMoney != null">pay_money,</if>
            <if test="payBalance != null">pay_balance,</if>
            <if test="payType != null">pay_type,</if>
            <if test="payStatus != null">pay_status,</if>
            <if test="arrivalStatus != null">arrival_status,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="payResult != null">pay_result,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="companyId != null">#{companyId},</if>
            <if test="appId != null">#{appId},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="priceId != null">#{priceId},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="method != null">#{method},</if>
            <if test="type != null">#{type},</if>
            <if test="mobile != null">#{mobile},</if>
            <if test="accountNumber != null">#{accountNumber},</if>
            <if test="residenceType != null">#{residenceType},</if>
            <if test="area != null">#{area},</if>
            <if test="cardNo != null">#{cardNo},</if>
            <if test="topUpMoney != null">#{topUpMoney},</if>
            <if test="money != null">#{money},</if>
            <if test="payMoney != null">#{payMoney},</if>
            <if test="payBalance != null">#{payBalance},</if>
            <if test="payType != null">#{payType},</if>
            <if test="payStatus != null">#{payStatus},</if>
            <if test="arrivalStatus != null">#{arrivalStatus},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="payResult != null">#{payResult},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePhoneOrder" parameterType="PhoneOrder">
        update phone_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="appId != null">app_id = #{appId},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="priceId != null">price_id = #{priceId},</if>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="method != null">method = #{method},</if>
            <if test="type != null">type = #{type},</if>
            <if test="mobile != null">mobile = #{mobile},</if>
            <if test="accountNumber != null">account_number = #{accountNumber},</if>
            <if test="residenceType != null">residence_type = #{residenceType},</if>
            <if test="area != null">area = #{area},</if>
            <if test="cardNo != null">card_no = #{cardNo},</if>
            <if test="topUpMoney != null">top_up_money = #{topUpMoney},</if>
            <if test="money != null">money = #{money},</if>
            <if test="payMoney != null">pay_money = #{payMoney},</if>
            <if test="payBalance != null">pay_balance = #{payBalance},</if>
            <if test="payType != null">pay_type = #{payType},</if>
            <if test="payStatus != null">pay_status = #{payStatus},</if>
            <if test="arrivalStatus != null">arrival_status = #{arrivalStatus},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="payResult != null">pay_result = #{payResult},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePhoneOrderById" parameterType="Long">
        delete from phone_order where id = #{id}
    </delete>

    <delete id="deletePhoneOrderByIds" parameterType="String">
        delete from phone_order where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>