<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.phone.mapper.PhoneInterfaceConfigMapper">

    <resultMap type="PhoneInterfaceConfig" id="PhoneInterfaceConfigResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="appId"    column="app_id"    />
        <result property="type"    column="type"    />
        <result property="switchType"    column="switch_type"    />
        <result property="interfaceType"    column="interface_type"    />
        <result property="interfaceUrl"    column="interface_url"    />
        <result property="mchId"    column="mch_id"    />
        <result property="apiKey"    column="api_key"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="wechatConfig"    column="app_id" javaType="WechatConfig" resultMap="WechatConfigResult" />
    </resultMap>

    <resultMap type="WechatConfig" id="WechatConfigResult">
        <result property="title"    column="wxTitle"    />
    </resultMap>

    <sql id="selectPhoneInterfaceConfigVo">
        select
            a.id,
            a.company_id,
            a.app_id,
            a.type,
            a.switch_type,
            a.interface_type,
            a.interface_url,
            a.mch_id,
            a.api_key,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            a.remark,
            wc.title as wxTitle
        from phone_interface_config a
                 left join phone_wechat_config wc ON wc.app_id = a.app_id
    </sql>

    <select id="selectPhoneInterfaceConfigList" parameterType="PhoneInterfaceConfig" resultMap="PhoneInterfaceConfigResult">
        <include refid="selectPhoneInterfaceConfigVo"/>
        <where>
            <if test="companyId != null "> and a.company_id = #{companyId}</if>
            <if test="appId != null  and appId != ''"> and a.app_id = #{appId}</if>
            <if test="type != null  and type != ''"> and a.type = #{type}</if>
            <if test="switchType != null  and switchType != ''"> and a.switch_type = #{switchType}</if>
            <if test="interfaceType != null  and interfaceType != ''"> and a.interface_type = #{interfaceType}</if>
            <if test="interfaceUrl != null  and interfaceUrl != ''"> and a.interface_url = #{interfaceUrl}</if>
            <if test="mchId != null  and mchId != ''"> and a.mch_id = #{mchId}</if>
            <if test="apiKey != null  and apiKey != ''"> and a.api_key = #{apiKey}</if>
        </where>
        ORDER BY a.create_time DESC
    </select>

    <select id="selectPhoneInterfaceConfigById" parameterType="Long" resultMap="PhoneInterfaceConfigResult">
        <include refid="selectPhoneInterfaceConfigVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertPhoneInterfaceConfig" parameterType="PhoneInterfaceConfig" useGeneratedKeys="true" keyProperty="id">
        insert into phone_interface_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="appId != null">app_id,</if>
            <if test="type != null">type,</if>
            <if test="switchType != null">switch_type,</if>
            <if test="interfaceType != null">interface_type,</if>
            <if test="interfaceUrl != null">interface_url,</if>
            <if test="mchId != null">mch_id,</if>
            <if test="apiKey != null">api_key,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="appId != null">#{appId},</if>
            <if test="type != null">#{type},</if>
            <if test="switchType != null">#{switchType},</if>
            <if test="interfaceType != null">#{interfaceType},</if>
            <if test="interfaceUrl != null">#{interfaceUrl},</if>
            <if test="mchId != null">#{mchId},</if>
            <if test="apiKey != null">#{apiKey},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePhoneInterfaceConfig" parameterType="PhoneInterfaceConfig">
        update phone_interface_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="appId != null">app_id = #{appId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="switchType != null">switch_type = #{switchType},</if>
            <if test="interfaceType != null">interface_type = #{interfaceType},</if>
            <if test="interfaceUrl != null">interface_url = #{interfaceUrl},</if>
            <if test="mchId != null">mch_id = #{mchId},</if>
            <if test="apiKey != null">api_key = #{apiKey},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePhoneInterfaceConfigById" parameterType="Long">
        delete from phone_interface_config where id = #{id}
    </delete>

    <delete id="deletePhoneInterfaceConfigByIds" parameterType="String">
        delete from phone_interface_config where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>