<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.phone.mapper.PhonePriceMapper">

    <resultMap type="PhonePrice" id="PhonePriceResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="appId"    column="app_id"    />
        <result property="method"    column="method"    />
        <result property="type"    column="type"    />
        <result property="typeId"    column="type_id"    />
        <result property="originalPrice"    column="original_price"    />
        <result property="discount"    column="discount"    />
        <result property="sellPrice"    column="sell_price"    />
        <result property="memberPrice"    column="member_price"    />
        <result property="superMemberPrice"    column="super_member_price"    />
        <result property="directCommission"    column="direct_commission"    />
        <result property="indirectCommission"    column="indirect_commission"    />
        <result property="memberDirectCommission"    column="member_direct_commission"    />
        <result property="memberIndirectCommission"    column="member_indirect_commission"    />
        <result property="superMemberDirectCommission"    column="super_member_direct_commission"    />
        <result property="superMemberIndirectCommission"    column="super_member_indirect_commission"    />
        <result property="orderNum"    column="order_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="wechatConfig"    column="app_id" javaType="WechatConfig" resultMap="WechatConfigResult" />
        <association property="phonePriceType"    column="type_id" javaType="PhonePriceType" resultMap="PhonePriceTypeResult" />
    </resultMap>

    <resultMap type="WechatConfig" id="WechatConfigResult">
        <result property="title"    column="wxTitle"    />
    </resultMap>

    <resultMap type="PhonePriceType" id="PhonePriceTypeResult">
        <result property="title"    column="typeTitle"    />
        <result property="status"    column="typeStatus"    />
        <result property="orderNum"    column="typeOrderNum"    />
    </resultMap>

    <sql id="selectPhonePriceVo">
        select
            a.id,
            a.company_id,
            a.app_id,
            a.method,
            a.type,
            a.type_id,
            a.original_price,
            a.discount,
            a.sell_price,
            a.member_price,
            a.super_member_price,
            a.direct_commission,
            a.indirect_commission,
            a.member_direct_commission,
            a.member_indirect_commission,
            a.super_member_direct_commission,
            a.super_member_indirect_commission,
            a.order_num,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            a.remark,
            wc.title as wxTitle,
            t.title AS typeTitle,
            t.status AS typeStatus,
            t.order_num AS typeOrderNum
        from phone_price a
                 left join phone_wechat_config wc ON wc.app_id = a.app_id
                left join phone_price_type t ON t.id = a.type_id
    </sql>

    <select id="selectPhonePriceList" parameterType="PhonePrice" resultMap="PhonePriceResult">
        <include refid="selectPhonePriceVo"/>
        <where>
            <if test="companyId != null "> and a.company_id = #{companyId}</if>
            <if test="appId != null "> and a.app_id = #{appId}</if>
            <if test="method != null  and method != ''"> and a.method = #{method}</if>
            <if test="type != null  and type != ''"> and a.type = #{type}</if>
            <if test="typeId != null "> and a.type_id = #{typeId}</if>
            <if test="originalPrice != null "> and a.original_price = #{originalPrice}</if>
            <if test="discount != null "> and a.discount = #{discount}</if>
            <if test="sellPrice != null "> and a.sell_price = #{sellPrice}</if>
            <if test="memberPrice != null "> and a.member_price = #{memberPrice}</if>
            <if test="directCommission != null "> and a.direct_commission = #{directCommission}</if>
            <if test="indirectCommission != null "> and a.indirect_commission = #{indirectCommission}</if>
            <if test="orderNum != null "> and a.order_num = #{orderNum}</if>
        </where>
        order by a.order_num
    </select>

    <select id="selectPhonePriceById" parameterType="Long" resultMap="PhonePriceResult">
        <include refid="selectPhonePriceVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertPhonePrice" parameterType="PhonePrice" useGeneratedKeys="true" keyProperty="id">
        insert into phone_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="appId != null">app_id,</if>
            <if test="method != null">method,</if>
            <if test="type != null">type,</if>
            <if test="typeId != null">type_id,</if>
            <if test="originalPrice != null">original_price,</if>
            <if test="discount != null">discount,</if>
            <if test="sellPrice != null">sell_price,</if>
            <if test="memberPrice != null">member_price,</if>
            <if test="superMemberPrice != null">super_member_price,</if>
            <if test="directCommission != null">direct_commission,</if>
            <if test="indirectCommission != null">indirect_commission,</if>
            <if test="memberDirectCommission != null">member_direct_commission,</if>
            <if test="memberIndirectCommission != null">member_indirect_commission,</if>
            <if test="superMemberDirectCommission != null">super_member_direct_commission,</if>
            <if test="superMemberIndirectCommission != null">super_member_indirect_commission,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="appId != null">#{appId},</if>
            <if test="method != null">#{method},</if>
            <if test="type != null">#{type},</if>
            <if test="typeId != null">#{typeId},</if>
            <if test="originalPrice != null">#{originalPrice},</if>
            <if test="discount != null">#{discount},</if>
            <if test="sellPrice != null">#{sellPrice},</if>
            <if test="memberPrice != null">#{memberPrice},</if>
            <if test="superMemberPrice != null">#{superMemberPrice},</if>
            <if test="directCommission != null">#{directCommission},</if>
            <if test="indirectCommission != null">#{indirectCommission},</if>
            <if test="memberDirectCommission != null">#{memberDirectCommission},</if>
            <if test="memberIndirectCommission != null">#{memberIndirectCommission},</if>
            <if test="superMemberDirectCommission != null">#{memberDirectCommission},</if>
            <if test="superMemberIndirectCommission != null">#{superMemberIndirectCommission},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePhonePrice" parameterType="PhonePrice">
        update phone_price
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="appId != null">app_id = #{appId},</if>
            <if test="method != null">method = #{method},</if>
            <if test="type != null">type = #{type},</if>
            <if test="typeId != null">type_id = #{typeId},</if>
            <if test="originalPrice != null">original_price = #{originalPrice},</if>
            <if test="discount != null">discount = #{discount},</if>
            <if test="sellPrice != null">sell_price = #{sellPrice},</if>
            <if test="memberPrice != null">member_price = #{memberPrice},</if>
            <if test="superMemberPrice != null">super_member_price = #{superMemberPrice},</if>
            <if test="directCommission != null">direct_commission = #{directCommission},</if>
            <if test="indirectCommission != null">indirect_commission = #{indirectCommission},</if>
            <if test="memberDirectCommission != null">member_direct_commission = #{memberDirectCommission},</if>
            <if test="memberIndirectCommission != null">member_indirect_commission = #{memberIndirectCommission},</if>
            <if test="superMemberDirectCommission != null">super_member_direct_commission = #{superMemberDirectCommission},</if>
            <if test="superMemberIndirectCommission != null">super_member_indirect_commission = #{superMemberIndirectCommission},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePhonePriceById" parameterType="Long">
        delete from phone_price where id = #{id}
    </delete>

    <delete id="deletePhonePriceByIds" parameterType="String">
        delete from phone_price where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>