<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.phone.mapper.PhonePriceMapper">

    <resultMap type="PhonePrice" id="PhonePriceResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="configId"    column="config_id"    />
        <result property="method"    column="method"    />
        <result property="type"    column="type"    />
        <result property="originalPrice"    column="original_price"    />
        <result property="discount"    column="discount"    />
        <result property="sellPrice"    column="sell_price"    />
        <result property="memberPrice"    column="member_price"    />
        <result property="directCommission"    column="direct_commission"    />
        <result property="indirectCommission"    column="indirect_commission"    />
        <result property="orderNum"    column="order_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectPhonePriceVo">
        select
            id,
            company_id,
            config_id,
            method,
            type,
            original_price,
            discount,
            sell_price,
            member_price,
            direct_commission,
            indirect_commission,
            order_num,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        from phone_price
    </sql>

    <select id="selectPhonePriceList" parameterType="PhonePrice" resultMap="PhonePriceResult">
        <include refid="selectPhonePriceVo"/>
        <where>
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="configId != null "> and config_id = #{configId}</if>
            <if test="method != null  and method != ''"> and method = #{method}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="originalPrice != null "> and original_price = #{originalPrice}</if>
            <if test="discount != null "> and discount = #{discount}</if>
            <if test="sellPrice != null "> and sell_price = #{sellPrice}</if>
            <if test="memberPrice != null "> and member_price = #{memberPrice}</if>
            <if test="directCommission != null "> and direct_commission = #{directCommission}</if>
            <if test="indirectCommission != null "> and indirect_commission = #{indirectCommission}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
        </where>
    </select>

    <select id="selectPhonePriceById" parameterType="Long" resultMap="PhonePriceResult">
        <include refid="selectPhonePriceVo"/>
        where id = #{id}
    </select>

    <insert id="insertPhonePrice" parameterType="PhonePrice" useGeneratedKeys="true" keyProperty="id">
        insert into phone_price
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="configId != null">config_id,</if>
            <if test="method != null">method,</if>
            <if test="type != null">type,</if>
            <if test="originalPrice != null">original_price,</if>
            <if test="discount != null">discount,</if>
            <if test="sellPrice != null">sell_price,</if>
            <if test="memberPrice != null">member_price,</if>
            <if test="directCommission != null">direct_commission,</if>
            <if test="indirectCommission != null">indirect_commission,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="configId != null">#{configId},</if>
            <if test="method != null">#{method},</if>
            <if test="type != null">#{type},</if>
            <if test="originalPrice != null">#{originalPrice},</if>
            <if test="discount != null">#{discount},</if>
            <if test="sellPrice != null">#{sellPrice},</if>
            <if test="memberPrice != null">#{memberPrice},</if>
            <if test="directCommission != null">#{directCommission},</if>
            <if test="indirectCommission != null">#{indirectCommission},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePhonePrice" parameterType="PhonePrice">
        update phone_price
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="configId != null">config_id = #{configId},</if>
            <if test="method != null">method = #{method},</if>
            <if test="type != null">type = #{type},</if>
            <if test="originalPrice != null">original_price = #{originalPrice},</if>
            <if test="discount != null">discount = #{discount},</if>
            <if test="sellPrice != null">sell_price = #{sellPrice},</if>
            <if test="memberPrice != null">member_price = #{memberPrice},</if>
            <if test="directCommission != null">direct_commission = #{directCommission},</if>
            <if test="indirectCommission != null">indirect_commission = #{indirectCommission},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePhonePriceById" parameterType="Long">
        delete from phone_price where id = #{id}
    </delete>

    <delete id="deletePhonePriceByIds" parameterType="String">
        delete from phone_price where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>