<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.phone.mapper.PhoneCompanyConfigMapper">

    <resultMap type="PhoneCompanyConfig" id="PhoneCompanyConfigResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="appId"    column="app_id"    />
        <result property="promotionPoster"    column="promotion_poster"    />
        <result property="slowChargingContent"    column="slow_charging_content"    />
        <result property="quickChargeContent"    column="quick_charge_content"    />
        <result property="electricityContent"    column="electricity_content"    />
        <result property="shareTitle"    column="share_title"    />
        <result property="shareContent"    column="share_content"    />
        <result property="sharePhoto"    column="share_photo"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectPhoneCompanyConfigVo">
        select
            id,
            company_id,
            app_id,
            promotion_poster,
            slow_charging_content,
            quick_charge_content,
            electricity_content,
            share_title,
            share_content,
            share_photo,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        from phone_company_config
    </sql>

    <select id="selectPhoneCompanyConfigList" parameterType="PhoneCompanyConfig" resultMap="PhoneCompanyConfigResult">
        <include refid="selectPhoneCompanyConfigVo"/>
        <where>
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="appId != null  and appId != ''"> and app_id = #{appId}</if>
            <if test="promotionPoster != null  and promotionPoster != ''"> and promotion_poster = #{promotionPoster}</if>
            <if test="slowChargingContent != null  and slowChargingContent != ''"> and slow_charging_content = #{slowChargingContent}</if>
            <if test="quickChargeContent != null  and quickChargeContent != ''"> and quick_charge_content = #{quickChargeContent}</if>
            <if test="electricityContent != null  and electricityContent != ''"> and electricity_content = #{electricityContent}</if>
            <if test="shareTitle != null  and shareTitle != ''"> and share_title = #{shareTitle}</if>
            <if test="shareContent != null  and shareContent != ''"> and share_content = #{shareContent}</if>
            <if test="sharePhoto != null  and sharePhoto != ''"> and share_photo = #{sharePhoto}</if>
        </where>
    </select>

    <select id="selectPhoneCompanyConfigById" parameterType="Long" resultMap="PhoneCompanyConfigResult">
        <include refid="selectPhoneCompanyConfigVo"/>
        where id = #{id}
    </select>

    <insert id="insertPhoneCompanyConfig" parameterType="PhoneCompanyConfig" useGeneratedKeys="true" keyProperty="id">
        insert into phone_company_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="appId != null">app_id,</if>
            <if test="promotionPoster != null">promotion_poster,</if>
            <if test="slowChargingContent != null">slow_charging_content,</if>
            <if test="quickChargeContent != null">quick_charge_content,</if>
            <if test="electricityContent != null">electricity_content,</if>
            <if test="shareTitle != null">share_title,</if>
            <if test="shareContent != null">share_content,</if>
            <if test="sharePhoto != null">share_photo,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="appId != null">#{appId},</if>
            <if test="promotionPoster != null">#{promotionPoster},</if>
            <if test="slowChargingContent != null">#{slowChargingContent},</if>
            <if test="quickChargeContent != null">#{quickChargeContent},</if>
            <if test="electricityContent != null">#{electricityContent},</if>
            <if test="shareTitle != null">#{shareTitle},</if>
            <if test="shareContent != null">#{shareContent},</if>
            <if test="sharePhoto != null">#{sharePhoto},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePhoneCompanyConfig" parameterType="PhoneCompanyConfig">
        update phone_company_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="appId != null">app_id = #{appId},</if>
            <if test="promotionPoster != null">promotion_poster = #{promotionPoster},</if>
            <if test="slowChargingContent != null">slow_charging_content = #{slowChargingContent},</if>
            <if test="quickChargeContent != null">quick_charge_content = #{quickChargeContent},</if>
            <if test="electricityContent != null">electricity_content = #{electricityContent},</if>
            <if test="shareTitle != null">share_title = #{shareTitle},</if>
            <if test="shareContent != null">share_content = #{shareContent},</if>
            <if test="sharePhoto != null">share_photo = #{sharePhoto},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePhoneCompanyConfigById" parameterType="Long">
        delete from phone_company_config where id = #{id}
    </delete>

    <delete id="deletePhoneCompanyConfigByIds" parameterType="String">
        delete from phone_company_config where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>