<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.phone.mapper.PhoneBalanceLogMapper">

    <resultMap type="PhoneBalanceLog" id="PhoneBalanceLogResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="appId"    column="app_id"    />
        <result property="memberId"    column="member_id"    />
        <result property="orderNo"    column="order_no"    />
        <result property="type"    column="type"    />
        <result property="balanceBefore"    column="balance_before"    />
        <result property="money"    column="money"    />
        <result property="balanceAfter"    column="balance_after"    />
        <result property="payStatus"    column="pay_status"    />
        <result property="payTime"    column="pay_time"    />
        <result property="payResult"    column="pay_result"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <association property="wechatConfig"    column="app_id" javaType="WechatConfig" resultMap="WechatConfigResult" />
        <association property="member"    column="member_id" javaType="Member" resultMap="MemberResult" />
    </resultMap>

    <resultMap type="WechatConfig" id="WechatConfigResult">
        <result property="title"    column="wxTitle"    />
    </resultMap>

    <resultMap type="Member" id="MemberResult">
        <result property="id"    column="member_id"    />
        <result property="name"    column="memberName"    />
        <result property="avatar"    column="memberAvatar"    />
        <result property="number"    column="number"    />
        <result property="mobile"    column="memberMobile"    />
        <result property="sex"    column="sex"    />
        <result property="birthday"    column="birthday"    />
        <result property="balance"    column="balance"    />
        <result property="openId"    column="open_id"    />
        <result property="isMember"    column="is_member"    />
    </resultMap>


    <sql id="selectPhoneBalanceLogVo">
        select
            a.id,
            a.company_id,
            a.app_id,
            a.member_id,
            a.order_no,
            a.type,
            a.balance_before,
            a.money,
            a.balance_after,
            a.pay_status,
            a.pay_time,
            a.pay_result,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            a.remark,
            wc.title as wxTitle,
            m.name AS memberName,
            m.avatar AS memberAvatar,
            m.number,
            m.mobile AS memberMobile,
            m.sex,
            m.birthday,
            m.balance,
            m.open_id,
            m.is_member
        from phone_balance_log a
        left join phone_wechat_config wc ON wc.app_id = a.app_id
        left join phone_member m ON m.id = a.member_id
    </sql>

    <select id="selectPhoneBalanceLogList" parameterType="PhoneBalanceLog" resultMap="PhoneBalanceLogResult">
        <include refid="selectPhoneBalanceLogVo"/>
        <where>
            <if test="companyId != null "> and a.company_id = #{companyId}</if>
            <if test="appId != null  and appId != ''"> and a.app_id = #{appId}</if>
            <if test="memberId != null "> and a.member_id = #{memberId}</if>
            <if test="orderNo != null  and orderNo != ''"> and a.order_no = #{orderNo}</if>
            <if test="type != null  and type != ''"> and a.type = #{type}</if>
            <if test="balanceBefore != null "> and a.balance_before = #{balanceBefore}</if>
            <if test="money != null "> and a.money = #{money}</if>
            <if test="balanceAfter != null "> and a.balance_after = #{balanceAfter}</if>
            <if test="payStatus != null  and payStatus != ''"> and a.pay_status = #{payStatus}</if>
            <if test="payTime != null  and payTime != ''"> and a.pay_time = #{payTime}</if>
            <if test="payResult != null  and payResult != ''"> and a.pay_result = #{payResult}</if>
        </where>
        ORDER BY a.create_time DESC
    </select>

    <select id="selectPhoneBalanceLogByOrderNo" parameterType="string" resultMap="PhoneBalanceLogResult">
        <include refid="selectPhoneBalanceLogVo"/>
        where a.order_no = #{orderNo}
    </select>

    <select id="selectPhoneBalanceLogById" parameterType="Long" resultMap="PhoneBalanceLogResult">
        <include refid="selectPhoneBalanceLogVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertPhoneBalanceLog" parameterType="PhoneBalanceLog" useGeneratedKeys="true" keyProperty="id">
        insert into phone_balance_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null">company_id,</if>
            <if test="appId != null">app_id,</if>
            <if test="memberId != null">member_id,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="type != null">type,</if>
            <if test="balanceBefore != null">balance_before,</if>
            <if test="money != null">money,</if>
            <if test="balanceAfter != null">balance_after,</if>
            <if test="payStatus != null">pay_status,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="payResult != null">pay_result,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null">#{companyId},</if>
            <if test="appId != null">#{appId},</if>
            <if test="memberId != null">#{memberId},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="type != null">#{type},</if>
            <if test="balanceBefore != null">#{balanceBefore},</if>
            <if test="money != null">#{money},</if>
            <if test="balanceAfter != null">#{balanceAfter},</if>
            <if test="payStatus != null">#{payStatus},</if>
            <if test="payTime != null">#{payTime},</if>
            <if test="payResult != null">#{payResult},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatePhoneBalanceLog" parameterType="PhoneBalanceLog">
        update phone_balance_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null">company_id = #{companyId},</if>
            <if test="appId != null">app_id = #{appId},</if>
            <if test="memberId != null">member_id = #{memberId},</if>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="type != null">type = #{type},</if>
            <if test="balanceBefore != null">balance_before = #{balanceBefore},</if>
            <if test="money != null">money = #{money},</if>
            <if test="balanceAfter != null">balance_after = #{balanceAfter},</if>
            <if test="payStatus != null">pay_status = #{payStatus},</if>
            <if test="payTime != null">pay_time = #{payTime},</if>
            <if test="payResult != null">pay_result = #{payResult},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePhoneBalanceLogById" parameterType="Long">
        delete from phone_balance_log where id = #{id}
    </delete>

    <delete id="deletePhoneBalanceLogByIds" parameterType="String">
        delete from phone_balance_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>